<head>
  <div class="title">
      <title>About</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section id="about-banner">
    <div class="row centered-block">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="tan-outline">We provide a way for craft beer lovers to help bring the best artisan homebrews to life
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <h2 class="tan-header">Problem</h2>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <p>Homebrewers are creating many outstanding beers that are driving innovation throughout the craft beer industry. However, due to the high capital cost and legal hurdles of starting a brewery many of these artisans are largely unknown and their beers go unshared outside a select few.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <h2 class="tan-header">Solution</h2>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <p>Noble Brewer chooses top homebrewers to feature and partners them with a professional brewery to produce their beer. We then deliver these beers to you along with the story of the homebrewer whose beers you helped bring to life.</p>
        </div>
    </div>
</section>
<section id="vat-banner"></section>
<section>
    <div class="row centered-block">
        <h2 class="tan-header">Our Process</h2>
        <div class="col-md-8 col-md-offset-2">
            <p>Homebrewers are the innovative force behind the craft beer industry. At Noble Brewer, we celebrate their creativity and bring their top beers to craft beer lovers like you.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <img src="/images/about/process1.jpg" width="100%" class="img-responsive">
        </div>
        <div class="col-md-5 left-buffer">
            <h4>We seek out the best homebrewers.</h4>
            <p>We're always on the hunt for interesting homebrewers. We listen to member recommendations, attend homebrewing events, and review online submissions to bring you unique award winning beers.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h4>They share their story with us</h4>
            <p>Featured homebrewers are interviewed so our members know as much about the person who created the beer as the beer they are drinking.</p>
        </div>
        <div class="col-md-5 left-buffer">
            <img src="/images/about/process2.jpg" width="100%" class="img-responsive">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 left-buffer col-md-offset-1">
            <img src="/images/about/process3.jpg" width="100%" class="img-responsive">
        </div>
        <div class="col-md-5 left-buffer">
            <h4>Their beers are brought to life</h4>
            <p>Our partner breweries scale the homebrewers' award winning recipes and give our homebrewers the chance to make their beer on a professional system.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h4>Members receive new beers each season</h4>
            <p>Here's where the magic happens! The beers and homebrewers stories are packaged together and sent directly to our members' doorsteps.</p>
        </div>
        <div class="col-md-5 left-buffer">
            <img src="/images/about/process4.jpg" width="100%" class="img-responsive">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <img src="/images/about/process5.jpg" width="100%" class="img-responsive">
        </div>
        <div class="col-md-5 left-buffer">
            <h4>We share your feedback</h4>
            <p>Member comments are shared with our homebrewers and influence our next shipment.</p>
        </div>
    </div>
</section>

<section class="patterned">
    <div class="row centered-block">
        <div class="col-md-6 col-md-offset-3">
            <h3>Become a Member!</h3>
            <p>An always changing selection of beers from the next generation of great craft brewers. Join our community to help us decide who should be the next Noble Brewer.</p>
            <a class="btn btn-nb" href="/brewerSignUp">Become a Brewer</a>
        </div>
    </div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>

