{% extends "templates/layouts/default.html" %}

{% block content %}
    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <h1>Our Mission</h1>
            <p>We provide a platform for craft beer lovers to help bring the best artisan homebrews to life</p>
        </div>
    </div>

    <div style="background-color:#232121;padding:80px 0;">
        <div class="container">
            <h2>Problem</h2>
            <p>Homebrewers are creating many outstanding beers that are driving innovation throughout the craft beer industry. However, due to the high capital cost and legal hurdles of starting a brewery many of these artisans are largely unknown and their beers go unshared outside a select few.</p>
            <h2>Solution</h2>
            <p>Noble Brewer chooses top homebrewers to feature and partners them with a professional brewery to produce their beer. We then deliver these beers to you along with the story of the homebrewer whose beers you helped bring to life.</p>
        </div>
    </div>

    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <p>Our Process</p>
            <p>We seek out the best recipes</p>
            <p>Lorem ipsum</p>
            <p>Our community picks who to feature</p>
            <p>Lorem ipsum</p>
            <p>Partner brewery scales the recipe</p>
            <p>Lorem ipsum</p>
            <p>Beer is brewed</p>
            <p>Lorem ipsum</p>
            <p>We deliver to your door</p>
            <p>Lorem ipsum</p>
        </div>
    </div>

    <div style="background-color:#232121;padding:80px 0;">
        <div class="container">
            <p>Become a patron</p>
            <p>Lorem ipsum</p>
            <button class="btn btn-primary">Join</button>
        </div>
    </div>

    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <p>Join the conversation</p>
            <p>Connect with us on any of these social networks to join the conversation and be a part of the craft beer community.</p>
            <a>Facebook</a>
            <a>Twitter</a>
            <a>Instagram</a>
            <a>Youtube</a>
        </div>
    </div>
{% endblock %}
