<% extends "templates/layouts/default.html" %>

<% block content %>
<section id="about-banner">
    <div class="container">
        <div class="row">
            <div class="centered-block">
                <h2>We provide a platform 
                <br>for craft beer lovers to help bring 
                <br>the best artisan homebrews to life
                </h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="tan-header">PROBLEM</h3>
            </div>
            <div class="col-md-8">
                <div class="body-copy">
                    <p>Homebrewers are creating many outstanding beers that are driving innovation throughout the craft beer industry. However, due to the high capital cost and legal hurdles of starting a brewery many of these artisans are largely unknown and their beers go unshared outside a select few.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <h3 class="tan-header">SOLUTION</h3>
            </div>
            <div class="col-md-8">
                <div class="body-copy">
                    <p>Noble Brewer chooses top homebrewers to feature and partners them with a professional brewery to produce their beer. We then deliver these beers to you along with the story of the homebrewer whose beers you helped bring to life.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</section>
<section id="vat-banner">
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="centered-block">
                <h2 class="tan-header">OUR PROCESS</h2>
                <div class="lead-body-copy"> 
                    <p>We seek out the best recipes</p>
                    <p>Lorem ipsum</p>
                    <p>Our community picks who to feature</p>
                    <p>Lorem ipsum</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">
                <img src="/images/about/process1.jpg" class="img-responsive tan-border">
            </div>
            <div class="col-md-5 col-sm-5">
                <h4>WE SEEK OUT THE BEST RECIPES</h4>
                <div class="body-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
                <h4>OUR COMMUNITY PICKS WHO TO FEATURE</h4>
                <div class="body-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5" >
                <img src="/images/about/process2.jpg" class="img-responsive tan-border">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">
                <img src="/images/about/process3.jpg" class="img-responsive tan-border">
            </div>
            <div class="col-md-5 col-sm-5">
                <h4>PARTNER BREWERY SCALES THE RECIPE</h4>
                <div class="body-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
                <h4>BEER IS BREWED</h4>
                <div class="body-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5" >
                <img src="/images/about/process4.jpg" class="img-responsive tan-border">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">
                <img src="/images/about/process5.jpg" class="img-responsive tan-border">
            </div>
            <div class="col-md-5 col-sm-5">
                <h4>WE DELIVER TO YOUR DOOR</h4>
                <div class="body-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</section>
<section class="diamond-base-section">
    <div class="container">
        <div class="row">
            <div class="centered-block">
                <h3>BECOME A PATRON</h3>
                <div class="body-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    <p>dunt ut labore et dolore magna aliqua. Ut enim ad enim ad minim veniam, quis nostrud exercit</p>
                    <p>tion ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <br>
                <button class="btn btn-primary">Join</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>JOIN THE CONVERSATION</h3>
                <div class="body-copy">
                    <p>Connect with us on any of these social networks to join the conversation and be a part of the craft beer community.</p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div class="social-media">
                    <a href="https://www.facebook.com/noblebrewer" target="_blank"><img src="/images/generic/facebook.png"></a>
                    <a href="https://instagram.com/NobleBrewer" target="_blank"><img src="/images/generic/instagram.png"></a>
                    <a href="http://twitter.com/NobleBrewerBeer" target="_blank"><img src="/images/generic/twitter.png"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<% endblock %>
