<head>
  <div class="title">
      <title>About</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section id="about-banner">
    <div class="container">
        <div class="row">
            <div class="centered-block" id="about-header">
                <h1>We provide a platform 
                for craft beer lovers to help bring 
                the best artisan homebrews to life
                </h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <h2 class="tan-header">PROBLEM</h2>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="body-copy">
                    <p>Homebrewers are creating many outstanding beers that are driving innovation throughout the craft beer industry. However, due to the high capital cost and legal hurdles of starting a brewery many of these artisans are largely unknown and their beers go unshared outside a select few.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <h2 class="tan-header">SOLUTION</h2>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="body-copy">
                    <p>Noble Brewer chooses top homebrewers to feature and partners them with a professional brewery to produce their beer. We then deliver these beers to you along with the story of the homebrewer whose beers you helped bring to life.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="vat-banner">
</section>
<section>
        <div class="row">
            <div class="centered-block">
                <h2 class="tan-header">OUR PROCESS</h2>
                <div class="body-copy"> 
                    <p>It's our goal to send you the best, most interesting and unique beers that we can. 
                    <br>This is how the beer gets from the brewer's recipe book to your front door.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="/images/about/process1.jpg" width="100%" class="img-responsive tan-border">
            </div>
            <div class="col-md-4">
                <h4>WE SEEK OUT THE BEST RECIPES</h4>
                <div class="body-copy">
                    <p>We're always on the hunt for the best recipes. We attend homebrewing events and carefully review all the home brewers who submit their recipes to find the cream of the crop.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>OUR COMMUNITY PICKS WHO TO FEATURE</h4>
                <div class="body-copy">
                    <p>We give our partner brewry the home brewer's recipe and either send the home brewer to oversee the process, or send their explicit instructions to the partner brewery.</p>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="/images/about/process2.jpg" width="100%" class="img-responsive tan-border">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="/images/about/process3.jpg" width="100%" class="img-responsive tan-border">
            </div>
            <div class="col-md-4">
                <h4>PARTNER BREWERY SCALES THE RECIPE</h4>
                <div class="body-copy">
                    <p>We give our partner brewery the homebrewer's recipe and either send the homebrewer to oversee the process, or their explicit instructions to the partner brewery.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>BEER IS BREWED</h4>
                <div class="body-copy">
                    <p>Here's where the magic happens! The beer is brewed and set aside to ferment. When it's good and ready we bottle it and package it for our members.</p>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="/images/about/process4.jpg" width="100%" class="img-responsive tan-border">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="/images/about/process5.jpg" width="100%" class="img-responsive tan-border">
            </div>
            <div class="col-md-4">
                <h4>WE DELIVER TO YOUR DOOR</h4>
                <div class="body-copy">
                    <p>Only a few short days later, beer arrives at your door with what's being offered that season and the storied behind the beer. Pick your favorite and reorder what you liked best!</p>
                </div>
            </div>
        </div>
        <br>
        <br>
</section>
<section class="diamond-base-section">
    <div class="container">
        <div class="row">
            <div class="centered-block">
                <h3>BECOME A PATRON</h3>
                <div class="body-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    <p>dunt ut labore et dolore magna aliqua. Ut enim ad enim ad minim veniam, quis nostrud exercit</p>
                    <p>tion ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <br>
                <button class="btn btn-primary">Join</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>

