<head>
  <div class="title">
      <title>About</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section id="about-banner">
    <div class="row centered-block">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="tan-outline">We provide a way for craft beer lovers to help bring the best craft homebrews to life
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="row centered-block">
        <h2 class="tan-header">Our Process</h2>
        <div class="col-md-8 col-md-offset-2">
            <p>Homebrewers are the innovative force behind the craft beer industry. We celebrate their creativity and bring their best beers to craft beer lovers.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <img src="/images/about/process1.jpg" width="100%" class="img-responsive">
        </div>
        <div class="col-md-5 left-buffer">
            <h4>We seek out the best homebrewers.</h4>
            <p>We're always on the hunt for new interesting homebrewers. We use many sources, including member recommendations, to find the best to feature.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h4>They share their story with us</h4>
            <p>We spend hours interviewing each homebrewer, so our members learn as much about the person who created the beer as the beer they are enjoying.</p>
        </div>
        <div class="col-md-5 left-buffer">
            <img src="/images/about/process2.jpg" width="100%" class="img-responsive">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 left-buffer col-md-offset-1">
            <img src="/images/about/process3.jpg" width="100%" class="img-responsive">
        </div>
        <div class="col-md-5 left-buffer">
            <h4>Their beers are born</h4>
            <p>Our partner breweries invite the homebrewer to help brew their award winning beers. After a couple weeks of fermentation, the beers are ready for enjoyment.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h4>Members receive new beers each season</h4>
            <p>Here's where the magic happens. Our homebrewers' beers and stories arrive on our members' doorsteps!</p>
        </div>
        <div class="col-md-5 left-buffer">
            <img src="/images/about/process4.jpg" width="100%" class="img-responsive">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <img src="/images/about/process5.jpg" width="100%" class="img-responsive">
        </div>
        <div class="col-md-5 left-buffer">
            <h4>We share your feedback</h4>
            <p>Our homebrewers receive your comments which help to influence our future shipments.</p>
        </div>
    </div>
</section>

<section class="patterned">
    <div class="row centered-block">
        <div class="col-md-6 col-md-offset-3">
            <h3>Become a Member!</h3>
            <p>An always changing selection of beers from the next generation of great craft brewers. Join our community to help us decide who should be the next Noble Brewer.</p>
            <a class="btn btn-nb" href="/brewerSignUp">Become a Brewer</a>
        </div>
    </div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>

