<head>
  <div class="title">
      <title>About</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section id="about-banner">
    <div class="container">
        <div class="row">
            <div class="centered-block" id="about-header">
                <h1>We provide a way 
                for craft beer lovers to help bring 
                the best artisan homebrews to life
                </h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <h2 class="tan-header">PROBLEM</h2>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="body-copy">
                    <p>Homebrewers are creating many outstanding beers that are driving innovation throughout the craft beer industry. However, due to the high capital cost and legal hurdles of starting a brewery many of these artisans are largely unknown and their beers go unshared outside a select few.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <h2 class="tan-header">SOLUTION</h2>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="body-copy">
                    <p>Noble Brewer chooses top homebrewers to feature and partners them with a professional brewery to produce their beer. We then deliver these beers to you along with the story of the homebrewer whose beers you helped bring to life.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="vat-banner">
</section>
<section>
        <div class="row">
            <div class="centered-block">
                <h2 class="tan-header">OUR PROCESS</h2>
                <div class="body-copy"> 
                    <p>Homebrewers are the innovative force behind the craft beer industry. At Noble Brewer, we 
                    <br>celebrate their creativity and bring their top beers to craft beer lovers like you.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="/images/about/process1.jpg" width="100%" class="img-responsive tan-border">
            </div>
            <div class="col-md-4">
                <h4>WE SEEK OUT THE BEST HOMEBREWERS</h4>
                <div class="body-copy">
                    <p>We're always on the hunt for interesting homebrewers. We listen to member recommendations, attend homebrewing events, and review online submissions to bring you unique award winning beers.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>THEY SHARE THEIR STORY WITH US</h4>
                <div class="body-copy">
                    <p>Featured homebrewers are interviewed so our members know as much about the person who created the beer as the beer they are drinking.</p>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="/images/about/process2.jpg" width="100%" class="img-responsive tan-border">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="/images/about/process3.jpg" width="100%" class="img-responsive tan-border">
            </div>
            <div class="col-md-4">
                <h4>THEIR BEERS ARE BROUGHT TO LIFE</h4>
                <div class="body-copy">
                    <p>Our partner breweries scale the homebrewers' award winning recipes and give our homebrewers the chance to make their beer on a professional system.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>MEMBERS RECEIVE NEW BEERS EACH SEASON</h4>
                <div class="body-copy">
                    <p>Here's where the magic happens! The beers and homebrewers stories are packaged together and sent directly to our members' doorsteps.</p>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="/images/about/process4.jpg" width="100%" class="img-responsive tan-border">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="/images/about/process5.jpg" width="100%" class="img-responsive tan-border">
            </div>
            <div class="col-md-4">
                <h4>WE SHARE YOUR FEEDBACK</h4>
                <div class="body-copy">
                    <p>Member comments are shared with our homebrewers and influence our next shipment.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
</section>
<section class="diamond-base-section">
    <div class="container">
        <div class="row">
            <div class="centered-block">
                <h3>Become a Member!</h3>
                <div class="body-copy">
                    <p>An always changing selection of beers from the next generation</p>
                    <p>of great craft brewers. Join our community to help us decide who</p>
                    <p>should be the next Noble Brewer.</p>
                </div>
                <br>
                <button class="btn btn-primary" href="/subscription">Join</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>

