<head>
  <div class="title">
      <title>What is Noble Brewer?</title>
  </div>
  <% include ./partials/head %>
</head>

<div class="container-fluid">
<% include ./partials/header %>
    <section class="row patterned">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <img src="/images/about/NB-Infographic.jpg" class="img-responsive">
        </div>
    </section>
<% include ./partials/footer %>
</div>
