
{% extends "templates/layouts/default.html" %}


{% block intro %}

{% endblock %}

{% block content %}

<div class="bodyToLoad">
	<div class="row">

		<div class="col-md-4">	
			<h4>Beers -> {{data.beerName}}</h4>		
		</div>
		<div class="col-md-2 col-md-offset-6" style="border:1px solid black">
			<span>order this beer</span>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12" align="center">
			<h1>{{data.beerName}}</h1>
		</div>
	</div>

	<br />
	<br />
	<br />
	
	<div class="col-md-12">
		<div class="row">	
			<div class="col-md-6">
				<h4>{{data.beerName}}</h4>
				<p>{{data.beerType}}</p>
			</div>

			<div class="col-md-6">
				{{data.brewerName}}
			</div>
		</div>
	</div>

	<br />
	<br />
	<br />


	<div class="row">
		<div class="col-md-6">
			<div class="col-md-12">
				<h4>About this beer</h4>
			</div>
			<br/>
			<div class="col-md-12">
				<p>					{{data.profileBody}}
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12">
				</div>

				<div class="col-md-12">
					<a class="btn btn-warning btn-block" href="mailto:{{data.brewerEmail}}" role="button" >Connect with {{data.brewerName}}</a>
				</div>
			</div>
		</div>

		<br />
		<br />
		<br />


		<div class="row">
			<div class="col-md-12">
				<div class="text-center col-md-12">
					Flavor profile: {{data.profileBody}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="text-center col-md-12">
					<a class="btn btn-warning" href="/brewers" role="button">BACK TO ALL beers</a>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}

