{% extends "templates/layouts/default.html" %}

{% block content %}
    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <h1>Beers</h1>
            <p>which are great</p>
        </div>
    </div>

    <div style="background-color:#202020;padding:80px 0;">
        <div class="container">
            <p>Featured beers</p>
            <button class="btn btn-primary">Try these beers</button>
        </div>
    </div>

    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <p>All beers</p>
        </div>
    </div>
{% endblock %}