{% extends "templates/layouts/default.html" %}


{% block intro %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 class="tan-header">NOBLE BREWERS</h1>
				<p>Home brewers are the backbone of Noble Brewer. Theirs are the stories that sell our fucking beer. So fucking click on their fucking pages you evil bastards.
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<section class="alt-base-section">
	<div class="container">

		<div class="row">
			<h2 class="tan-header" align="center">Featured Brewers</h2>
		</div>
		    
		<div class="col-md-12" align="center">
			{% for featuredBrewer in filters.featuredBrewers %}
				{% if loop.index0%2 == 0 %}
					<div class="col-md-12" align="center">
				{% endif %}
				{% if featuredBrewer.profilePicture.url != nil %}
					<div class="col-md-6" align="center">
						<img src="{{featuredBrewer.profilePicture.url}}" class="img-thumbnail">
						<br>
						<a href="/profile/{{featuredBrewer.slug}}">{{featuredBrewer.brewerName.first}} {{featuredBrewer.brewerName.last}}</a>
					</div>
				{% else %}
					<div class="col-md-6" align="center">
						<img src="http://www.vtecsoft.com/images/default-avatar_0.png" class="img-thumbnail">
						<br>
						<a href="/profile/{{featuredBrewer.slug}}">{{featuredBrewer.brewerName.first}} {{featuredBrewer.brewerName.last}}</a>
					</div>
				{% endif %}
				{% if loop.index0%2 != 0 %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<h2 class="tan-header" align="center">All Brewers</h2>
		</div>

		<div class="col-md-12" align="center">
			{% for brewer in data.allBrewers %}
				{% if loop.index0%6 == 0 %}
					<div class="col-md-12" align="center">
				{% endif %}
				{% if brewer.profilePicture.url != nil %}
					<div class="col-md-3" align="center">
						<img src={{brewer.profilePicture.url}} class="img-thumbnail circle-img">
						<br>
						<a href="/profile/{{brewer.slug}}">{{brewer.brewerName.first}} {{brewer.brewerName.last}}</a>
					</div>
				{% else %}
					<div class="col-md-3" align="center">
						<img src="http://www.vtecsoft.com/images/default-avatar_0.png" class="img-thumbnail circle-img"> 
						<br>
						<a href="/profile/{{brewer.slug}}">{{brewer.brewerName.first}} {{brewer.brewerName.last}}</a>
					</div>
				{% endif %}
				{% if (loop.index0+1)%6 == 0 %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>


{% endblock %}