
{% extends "templates/layouts/default.html" %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>SHARE YOUR BEER
                <br>WITH THE WORLD
                </h2>
                <div class="body-copy">
                	<p>We're always on the hunt for the best homebrews to produce and share with our members. Fill out the form below for a chance to be featured in the next shipment of Noble Brewer Beers.
                </div>
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container">
		<h2>FEATURED BREWER SIGN UP</h2>
		<div class="row">
			<div class="col-md-4">
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
			</div>
			<div class="col-md-5">

			</div>
		</div>
	</div>
</section>

{% endblock %}

