
{% extends "templates/layouts/default.html" %}


{% block intro %}

	<div class="row" style="border:1px solid black">
		<h1 align="center">Homebrewers</h1>
	</div>
	
{% endblock %}

{% block content %}
	
	<div class="container-fluid" style="border:3px solid red">

		<div class="row" style="border:1px solid black">
			<h2 align="center">Featured Brewers</h2>
		</div>
		    
		<div class="col-md-12" align="center" style="border:3px solid blue">
			{% for featuredBrewer in filters.featuredBrewers %}
				{% if loop.index0%2 == 0 %}
					<div class="col-md-12" align="center">
				{% endif %}
				{% if featuredBrewer.profilePicture.url != nil %}
					<div class="col-md-6" align="center">
						<img src={{featuredBrewer.profilePicture.url}} class="img-thumbnail">
						<br>
						{{featuredBrewer.brewerName.first}} {{featuredBrewer.brewerName.last}}
					</div>
				{% else %}
					<div class="col-md-6" align="center">
						<img src="http://www.vtecsoft.com/images/default-avatar_0.png" class="img-thumbnail">
						<br>
						{{featuredBrewer.brewerName.first}} {{featuredBrewer.brewerName.last}}
					</div>
				{% endif %}
				{% if loop.index0%2 != 0 %}
					</div>
				{% endif %}
			{% endfor %}
		</div>		
		    
		<div class="row" style="border:1px solid black">
			<h2 align="center">All Brewers</h2>
		</div>

		<div class="col-md-12" align="center" style="border:3px solid blue">
			{% for brewer in data.allBrewers %}
				{% if loop.index0%6 == 0 %}
					<div class="col-md-12" align="center">
				{% endif %}
				{% if brewer.profilePicture.url != nil %}
					<div class="col-md-2" align="center" style="border:1px solid blue">
						<img src={{brewer.profilePicture.url}} class="img-thumbnail">
						<br>
						{{brewer.brewerName.first}} {{brewer.brewerName.last}}
					</div>
				{% else %}
					<div class="col-md-2" align="center">
						<img src="http://www.vtecsoft.com/images/default-avatar_0.png" class="img-thumbnail"> 
						<br>
						{{brewer.brewerName.first}} {{brewer.brewerName.last}}
					</div>
				{% endif %}
				{% if (loop.index0+1)%6 == 0 %}
					</div>
				{% endif %}
			{% endfor %}
		</div>	

	</div>	


{% endblock %}

