
<head>
  <div class="title">
      <title>Checkout</title>
  </div>
  <% include ./partials/head %>
</head>

<div class="navbar-fixed-top" style=" border: 10px solid #FFF; background-color: #333333; height:80px;">

	<div class="navbar-brand" id="shipping-status" style="margin-left: 20px; margin-top: 4px;">ADD SHIPPING INFO TO UPDATE
	</div> 
<!-- 			<div class="html5-progressbar">
		<span id="progress-value" style="font-size: 18px">Order process completion 80%</span>
		<progress id="progressbar" value="60" max="100"></progress> 
	</div> -->
	<p style="float:right; margin-right: 50px; margin-top: 14px; font-size: 22px;" id="nav-subtotal">SUBTOTAL:</p> 
</div>
<br>
<br>
<br>
<div class="container">
	<form action="/thankYou"  method="get">



		<div class="row" style="margin-top: 75px;">
			<div class="col-md-4" id="cost-breakdown" style="padding-top: 10px; padding-left: 0px; padding-right: 0px; border: 1px solid #FFFFFF">
				<div style="padding-left: 30px; padding-right: 30px">
					<div class="row">
						<span>
							<h4 style="float: left">Your order</h4>
							<a href="/customize" style="float: right; text-transform: none">Edit</a>
						</span>
					</div>
					<div class="centered-block">
						<img id="order-photo" style="margin-bottom: 10px"src="http://lorempicsum.com/futurama/280/200/1">
					</div>
					<br>
					<div class="row">
						<span>
							<p style="float: left">Quantity</p>
							<p id="quantity" style="float: right">bottles</p>
						</span>
					</div>
					<div class="row">
						<span>
							<p style="float: left">Delivery</p>
							<p id="frequency" style="float: right">Every 3 months</p>
						</span>
					</div>
					<br>
					<div class="row" >
						<span>
							<p style="float: left">Subtotal</p>
							<p id="subtotal" style="float: right">$</p>
						</span>
					</div>
					<div class="row" style="display: none" id="discount-row">
						<span>
							<p style="float: left">Annual discount</p>
							<p id="discount" style="float: right">$</p>
						</span>
					</div>
					<br>
					<div class="row">
						<span>
							<p style="float: left">Shipping</p>
							<p id="shipping-cost" style="float: right">--</p>
						</span>
					</div>
					<div class="row">
						<span>
							<p style="float: left">Tax</p>
							<p id="tax" style="float: right">--</p>
						</span>
					</div>
					<br>

					<hr style="width: 100%">
					<div class="row">
						<span>
							<p style="float: left">Total</p>
							<p id="total" style="float: right">--</p>
						</span>
					</div>
				</div>
				<br>
				<hr style="width: 100%">
				<div class="centered-block" >
					<a style="text-transform: none">Have a coupon code?</a>
				</div>
				<br>
			</div>

			<div class="col-md-8" style="padding-left: 25px">
					<h3>Add shipping info</h3>

					<div class="row">
						<div class="col-md-6">
								<div class="form-group">
								  <label for="firstName">First name*</label>
								  <input type="text" class="form-control" id="firstName" required>
								</div>
						</div>

						<div class="col-md-6">
								<div class="form-group">
								  <label for="lastName">Last name*</label>
								  <input type="text" class="form-control" id="lastName" required>
								</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-12">
								<div class="form-group">
								  <label for="address">Address*</label>
								  <input type="text" class="form-control" id="address" required>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
								<div class="form-group">
								  <label for="address">Address 2</label>
								  <input type="text" class="form-control" id="address">
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
								<div class="form-group">
								  <label for="city">City*</label>
								  <input type="text" class="form-control" id="city" required>
								</div>
						</div>
						<div class="col-md-4">
								<div class="form-group">
								  <label for="state">State*</label>
								  <input type="text" class="form-control" id="state" required>
								  <a style="text-transform: none; text-decoration: underline" data-toggle="modal" data-target="#states">Shippable states</a>
								</div>

								<!-- Modal -->
								<div class="modal fade" id="states" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h3 class="modal-title" style="color: #302d2d" >What states do you ship?</h3>
								      </div>
								      <div class="modal-body">
								        <p style="color: #302d2d">Due to varying state regulations, we are only able to ship to the following states: AZ, CA, CO, CT, DC, FL, GA, ID, IL, IA, KS, LA, MD, MI, MN, MO, MT, NE, NV, NY, NC, NM, OH, OK, OR, RI, SC, SD, TN, VT, VA, WA, WI. </p>
								      </div>
								    </div>
								  </div>
								</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
								<div class="form-group">
								  <label for="zip">Zip*</label>
								  <input type="text" class="form-control" id="zip" required>
								</div>
						</div>
						<div class="col-md-4">
								<div class="form-group">
								  <label for="phone">Phone #*</label>
								  <input type="text" class="form-control" id="phone" required>
								</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<span>
							<i class="fa fa-warning fa-2x" style="float: left; margin: 10px; margin-right: 20px;"></i> 
							<p> Remember someone over the age of 21 must sign for the delivery, we recommend shipping to a business address.</p>			
							</span>			
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="instructions">Special instructions</label>
								<textarea rows="6" id="instructions" class="form-control"></textarea>
								</label>
							</div>
						</div>
					</div>
			</div>
			<br>
		</div>
		<hr>

		<div class="order-selection" style="height: 280px; display: none" id="payment-frequency">
			<h3 style="margin-bottom: 30px;">How often do you want to pay?</h3>
			<span>
				<div class="centered-block" style="margin-left: 20%; float: left">
					<h4 style="margin-bottom: -25px">Pay per shipment</h4><br>
					<a class="btn btn-primary" style="padding: 15px; height: 66px; width: 250px; font-size: 22px"  id="shipment">$</a>
				</div>
				<div class="centered-block" style="margin-right: 20%; float: right">
					<h4 style="margin-bottom: -25px">Pay annually 20% off</h4><br>
					<a class="btn btn-primary" style="padding: 15px; height: 66px; width: 250px; font-size: 22px" id="annually">$</a>
				</div>
      </span>
		</div>

		<div class="col-md-8 col-md-offset-4" style="display: none" id="payment-info">
					<h3>Add Billing Info</h3>

					<div class="row">
						<div class="col-md-6">
								<div class="form-group">
								  <label for="cardName">Name on Card*</label>
								  <input type="text" class="form-control" id="cardName" required>
								</div>
						</div>

						<div class="col-md-6">
								<div class="form-group">
								  <label for="cardNumber">Card Number*</label>
								  <input type="text" class="form-control" id="cardNumber" required>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
								<div class="form-group">
								  <label for="cvc">CVC*</label>
								  <input type="text" class="form-control" id="cvc" required>
								</div>
						</div>

						<div class="col-md-4">
								<div class="form-group">
								  <label for="expiry">MM/YY*</label>
								  <input type="text" class="form-control" id="expiry" required>
								</div>
						</div>

						<div class="col-md-4">
								<div class="form-group">
								  <label for="billingZip">Billing Zip*</label>
								  <input type="text" maxlength="5"class="form-control" id="billingZip" required>
								</div>
						</div>
					</div>

					<hr>

					<h3>Create Account</h3>

					<div class="row">
						<div class="col-md-6">
								<div class="form-group">
								  <label for="email">Email*</label>
								  <input type="email" class="form-control" id="email" required>
								</div>
						</div>

						<div class="col-md-6">
								<div class="form-group">
								  <label for="password">Password*</label>
								  <input type="password" class="form-control" id="password" required>
								</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-12">
							<input type="checkbox" id="agree" required> I have read and agree to the Noble Brewer 
							<a style="text-transform: none" href="/terms" target="_blank">Terms & Conditions</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<button type="submit" class="btn btn-primary" style="margin-left: 0px; width:100%">
								Submit Payment</button>
						</div>
					</div>

					<br>
					<br>
		</div>
	</form>
</div>

<script>
	//base prices
	var small = 44.00;
	var medium = 80.00;
	var large = 108.00;

	var boxPrice = 0;
	var subtotal = 0;
	var annual = 0;
	var shipping = 12; //default cali shipping

	function adjustSubtotal(){
		var dollarAmount = '$'+boxPrice.toFixed(2);
		$('#subtotal').html(dollarAmount);
		$('#nav-subtotal').html("Subtotal: " + dollarAmount);
	}

	//redo if user goes back and updates state
	function adjustTaxShipping(shipping){
		subtotal = boxPrice + shipping;
		var tax = subtotal * .09;

		subtotal += tax;

		$('#tax').html('$' + tax.toFixed(2));
		$('#total').html('$' + subtotal.toFixed(2));
		$('#nav-subtotal').html("Total: $" + subtotal.toFixed(2));
		$('#shipment').html('$' + subtotal.toFixed(2));

		calculateAnnual();
		$('#annually').html('$' + annual.toFixed(2));

	}

	function adjustAnnual(){

		$('#discount-row').fadeIn('slow');
		$('#discount').html('- ($' + discount.toFixed(2) + ')');
		$('#total').html('$' + annual.toFixed(2));
		$('#nav-subtotal').html("Total: $" + annual.toFixed(2));
	}

	function adjustShipment(){
		$('#discount-row').fadeOut('slow');
		$('#total').html('$' + subtotal.toFixed(2));
		$('#nav-subtotal').html("Total: $" + subtotal.toFixed(2));
	}

	function calculateAnnual(){
		annual = (boxPrice * 4)*.8;
		annual += 4*12;
		annual += annual * .09;

		discount = (boxPrice)*.2;
	}

	function calculateTotals() {
			 if (localStorage.getItem("box-size") == "small") {
			 		
			 		$('#order-photo').prop('src', '/images/checkout/4_beers.png');

			 			$('#cost-per-bottle').html("$11.00 per bottle");
			 			$('#quantity').html("4 bottles");
			 			$('#frequency').html("Every 3 months");
			 			$('#subtotal').html("$44.00");
			 			boxPrice=small;
			 			adjustSubtotal();
			 }

			 else if (localStorage.getItem("box-size") == "medium") {

			 		$('#order-photo').prop('src', '/images/checkout/8_beers.png');

		 			$('#cost-per-bottle').html("$10.00 per bottle");
		 			$('#quantity').html("8 bottles");
		 			$('#frequency').html("Every 3 months");
		 			$('#subtotal').html("$80.00");
		 			boxPrice=medium;
		 			adjustSubtotal();
			 }

			 else if (localStorage.getItem("box-size") == "large") {
			 	
			 		$('#order-photo').prop('src', '/images/checkout/12_beers.png');

			 		//large per-shipment order
		 			$('#cost-per-bottle').html("$9.00 per bottle");
		 			$('#quantity').html("12 bottles");
		 			$('#frequency').html("Every 3 months");
		 			$('#subtotal').html("$108.00");
		 			boxPrice=large;
		 			adjustSubtotal();
			 }
	}


	
	$(document).ready(function () {
		calculateTotals();

		$('#progressbar').animate({'value':'80'}, 'slow');
		$("#state").change(function () {
			//assume there was state input
			if ($("#state").val().length > 0 ){
				adjustTaxShipping(12);
				$('#shipping-cost').html("$12.00");
				$('#shipping-status').html("ADDED CALIFORNIA SHIPPING AND TAX");
				$('#payment-frequency').fadeIn('slow');

			}
		});
	  $('#shipment').click(function () {
	  	adjustShipment();
	  	$('#payment-info').fadeIn('slow');

	  });
	  $('#annually').click(function () {
	  	adjustAnnual();
	  	$('#payment-info').fadeIn('slow');

	  });

	});
</script>

<% include ./partials/footer %>
