{% extends "templates/layouts/default.html" %}

{% block content %}



<form action="/checkout" method="get">
	<div class="container">
		<div class="centered-block">
			<div class="html5-progressbar">
				<span id="progress-value" style="font-size: 18px">Order process completion 80%</span>
				<progress id="progressbar" value="80" max="100"></progress> 
			</div>
		</div>
		<br>
		<h4>Customize your order</h4>
		
		<div class="order-selection">
			<h3>Who is getting this shipment?</h3>
			<div class="row">
				<button type="button" class="btn btn-primary" style="padding:20px; text-transform: uppercase; letter-spacing: 1px; font-size:30; border-radius: 4px" id="for-me">ME!</button>

				<button type="button" class="btn btn-primary" style="padding:20px; text-transform: uppercase; letter-spacing: 1px; font-size:30; border-radius: 4px" id="gift">This is a gift</button>

				<input type="hidden" name="recipient" id="recipient">
			</div>
		</div>

		<div id="me-choices" style="display: none">
			<div class="order-selection" id="box-size-choices">
				<h3>What size box would you like?</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="box-selection">
							<img src="/images/checkout/4_beers.png">
							<br>
							<br>
								<p>11.99 per bottle<br><br></p>
							<button type="button" class="btn btn-primary" style="text-transform: uppercase; letter-spacing: 1px; font-size:30" id="small-box">Small<br>(4 bottles per box)</button>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-selection">
							<img src="/images/checkout/8_beers.png">
							<br>
							<br>
								<p>10.99 per bottle<br><br></p>

							<button type="button" class="btn btn-primary" style="text-transform: uppercase; letter-spacing: 1px; font-size:30" id="medium-box">Medium<br>(8 bottles per box)</button>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-selection">
							<img src="/images/checkout/12_beers.png">
								<br>
								<br>
								<p>11.99 per bottle<br>+ Free Shipping </p>

							<button type="button" class="btn btn-primary" style="text-transform: uppercase; letter-spacing: 1px; font-size:30" id="large-box">Large<br>
							(12 bottles per box)
							</button>
						</div>
					</div>
				</div>
				<hr>

				<p id="note" style="margin-left: 150px; margin-right: 150px;"> Beer is delivered every 3 months, however all of our members can re-order their favorites until we run out of inventory.</p>					<input type="hidden" name="box-size" id="box-size">
			</div>

	<!-- 		<div class="order-selection" id="frequency-choices" style="display: none">
				<h4>How often do you want to get shipments?</h4>

				<div class="row">
					<button type="button" class="btn btn-primary inactive-selection">Every other week<br>(This feature coming soon)</button>

					<button type="button" class="btn btn-primary inactive-selection">Every month<br>
					(This feature coming soon)</button>

					<button type="button" class="btn btn-primary" id="seasonally">Seasonally<br>
					(Every 3 months)</button>
				</div>

				<input type="hidden" name="frequency" id="frequency">

				<hr>

				<p style="margin-left: 150px; margin-right: 150px;"> Don't worry! No matter what shipment schedule you select, all of our members can re-order their favorites until we run out of inventory.</p>
			</div>
 -->

			<div class="order-selection" id="billing-choices" style="display: none">
				<h3>How often should we bill you?</h3>

				<div class="row">
					<button type="button" class="btn btn-primary" style="height: 70px; width: 250px; border-radius:4px; text-transform: uppercase; letter-spacing: 1px; font-size:30" id="per-shipment">Pay per shipment<br></button>

					<button type="button" class="btn btn-primary" id="annually" style="height: 70px; width: 250px; border-radius:4px; text-transform: uppercase; letter-spacing: 1px; font-size:30" id="per-shipment">Pay per year<br>
					(Save 20%)</button>
				</div>

				<input type="hidden" name="billing" id="billing">

				<hr>

				<p id="billing-copy" style="margin-left: 150px; margin-right: 150px;"> In addition to saving 20%, when you sign up for an annual payment plan, you'll also receive TWO IPA glasses in your first shipment.</p>
			</div>

			<div class="order-selection" id="me-continue" style="display: none">
				<h3 id="me-subtotal"></h3>
				<button type="submit" class="btn btn-primary" style="width: 350px; margin-top: auto;margin-bottom: auto; border-radius:4px; padding:20px; text-transform: uppercase; letter-spacing: 1px; font-size:30">Continue to checkout</button>
			</div>
		</div>

		<div id="gift-choices" style="display: none">
			<div class="order-selection" id="gift-continue">
				<h3 id="gift-subtotals"></h3>
				<button type="submit" class="btn btn-primary" style="width: 350px; margin-top: auto;margin-bottom: auto; border-radius:4px; padding:20px; text-transform: uppercase; letter-spacing: 1px; font-size:30">Continue to checkout</button>
			</div>
		</div>

	</div>
</form>

{% endblock %}

{% block js %}
<script>

	function calculateTotals() {
		//me flow
		if (localStorage.getItem("recipient") == "me") {
			 if (localStorage.getItem("box-size") == "small") {
			 		
			 		//small per-shipment order
			 		if (localStorage.getItem("frequency") == "shipment"){
			 			$('#me-subtotal').html("Subtotal per box: $57.95");
			 		}

			 		//small annually order
			 		else if (localStorage.getItem("frequency") == "annually"){
			 			$('#me-subtotal').html("Subtotal per box: $53.59");
			 		}
			 }

			 else if (localStorage.getItem("box-size") == "medium") {
			 		
			 		//medium per-shipment order
			 		if (localStorage.getItem("frequency") == "shipment"){
			 			$('#me-subtotal').html("Subtotal per box: $93.91");
			 		}

			 		//medium annually order
			 		else if (localStorage.getItem("frequency") == "annually"){
			 			$('#me-subtotal').html("Subtotal per box: $85.91");
			 		}
			 }

			 else if (localStorage.getItem("box-size") == "large") {
			 		
			 		//large per-shipment order
			 		if (localStorage.getItem("frequency") == "shipment"){
			 			$('#me-subtotal').html("Subtotal per box: $107.88");
			 		}

			 		//large annually order
			 		else if (localStorage.getItem("frequency") == "annually"){
			 			$('#me-subtotal').html("Subtotal per box: $97.10");
			 		}
			 }

		}
	}

	$(document).ready(function () {

			$('#progressbar').prop('value', '0');
	    $('#progress-value').html('Order process completion 0%');

	    $('#for-me').click(function () {
	    	$('#gift-choices').hide();
	    	$('#gift').addClass("inactive-selection");
	    	$('#for-me').removeClass('inactive-selection');
	    	$('#me-choices').fadeIn('slow');
	    	$('#recipient').val('me');
	    	$('#progressbar').animate({'value':'20'}, 'slow');
	    	$('#progress-value').html('Order process completion 20%');
	    	localStorage.setItem("recipient", "me");
	    	$('html, body').animate({
				    scrollTop: $("#box-size-choices").offset().top
				}, 1000);
	    	calculateTotals();
	    });

	    $('#gift').click(function () {
	    	$('#me-choices').hide();
	    	$('#for-me').addClass("inactive-selection");
	    	$('#gift').removeClass('inactive-selection');
	    	$('#gift-choices').fadeIn('slow');
	    	$('#recipient').val('gift');
	    	$('#progressbar').animate({'value':'20'}, 'slow');
	    	$('#progress-value').html('Order process completion 20%');
	    	localStorage.setItem("recipient", "gift");
	    	calculateTotals();
	    });

	    $('#small-box').click(function () {
	    	$('#small-box').removeClass("inactive-selection");
	    	$('#medium-box').addClass("inactive-selection");
	    	$('#large-box').addClass("inactive-selection");
	    	$('#billing-choices').fadeIn('slow');
	    	$('#box-size').val("small");
	    	$('#progressbar').animate({'value':'40'}, 'slow');
	    	$('#progress-value').html('Order process completion 40%');
	    	localStorage.setItem("box-size", "small");
	    	$('html, body').animate({
				    scrollTop: $("#note").offset().top
				}, 1000);
	    	calculateTotals();
	    });

	    $('#medium-box').click(function () {
	    	$('#medium-box').removeClass("inactive-selection");
	    	$('#small-box').addClass("inactive-selection");
	    	$('#large-box').addClass("inactive-selection");
	    	$('#billing-choices').fadeIn('slow');
	    	$('#box-size').val("medium");
	    	$('#progressbar').animate({'value':'40'}, 'slow');
	    	$('#progress-value').html('Order process completion 40%');
	    	localStorage.setItem("box-size", "medium");
	    	$('html, body').animate({
				    scrollTop: $("#note").offset().top
				}, 1000);
	    	calculateTotals();
	    });

	    $('#large-box').click(function () {
	    	$('#large-box').removeClass("inactive-selection");
	    	$('#small-box').addClass("inactive-selection");
	    	$('#medium-box').addClass("inactive-selection");
	    	$('#billing-choices').fadeIn('slow');
	    	$('#progressbar').animate({'value':'40'}, 'slow');
	    	$('#progress-value').html('Order process completion 40%');
	    	localStorage.setItem("box-size", "large");
	    	$('html, body').animate({
				    scrollTop: $("#note").offset().top
				}, 1000);
	    	calculateTotals();
	    });

	    // $('#seasonally').click(function () {
	    // 	$('#billing-choices').fadeIn('slow');
	    // 	$('#frequency').val("seasonally");
	    // });

	    $('#per-shipment').click(function () {
	    	$('#billing').val("shipment");
	    	$('#per-shipment').removeClass("inactive-selection");
	    	$('#annually').addClass("inactive-selection");
	    	$('#progressbar').animate({'value':'60'}, 'slow');
	    	$('#progress-value').html('Order process completion 60%');
	    	localStorage.setItem("frequency", "shipment");

	    	$('html, body').animate({
				    scrollTop: $("#billing-copy").offset().top
				}, 1000);
	    	calculateTotals();
	    	$('#me-continue').fadeIn('slow');
	    });

	    $('#annually').click(function () {
	    	$('#billing').val("annually");
	    	$('#annually').removeClass("inactive-selection");
	    	$('#per-shipment').addClass("inactive-selection");
	    	$('#progressbar').animate({'value':'60'}, 'slow');
	    	$('#progress-value').html('Order process completion 60%');
	    	localStorage.setItem("frequency", "annually");

	    	$('html, body').animate({
				    scrollTop: $("#billing-copy").offset().top
				}, 1000);

	    	calculateTotals();
	    	$('#me-continue').fadeIn('slow');
	    });
	});
</script>
{% endblock %}