{% extends "templates/layouts/default.html" %}

{% block content %}


<section>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
			<img class="img-responsive" src="/images/checkout/kinsu.jpg">
		</div>
		<div class="col-md-5">
			<h3 class="tan-header"> Noble Brewer Beer Subscription</h3>
			<div style="font-size:22px">
				<p>Get impossible-to-find craft beer made from homebrew recipes delivered to your door on a quarterly release schedule.</p>
			</div>
			<hr>
			<div style="font-size:22px">
				<ul>
					<li>Every shipment contains:</li>
					<li>Four large 22oz bottles of homebrew-inspired beer</li>
					<li>Tasting cards to provide feedback to the homebrewer</li>
					<li>The story behind the recipe creator</li>
				</ul>
			</div>
			<br>
		</div>
	</div>
	<br>
	<br>
	<button id="customize-button" class="btn btn-primary centered-block" >Customize your subscription</button>

	<form action="/checkout" method="get" >
		<div class="container"  id="customize-flow" style="display: none">
			<br>
			<br>

			<div class="order-selection" id="box-size-choices">
				<h3 style="margin-bottom: 30px">How much beer?</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="box-selection" id="small-box">
							<img src="/images/checkout/4_beers.png">
							<div class="amount-circle"><div class="quantity" id="four">4</div></div>
							<br>
							<p>Four large 22oz bottles of<br>homebrew-inspired beer<br></p>
							Tasting cards to provide feedback to the homebrewer<br>
							<br>
							<p>The story behind the recipe creator</p>
							<br>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-selection" id="medium-box">
							<img src="/images/checkout/8_beers.png">
							<div class="amount-circle"><div class="quantity" id="eight">8</div></div>
							<br>
							<p>Eight large 22oz bottles of<br>homebrew-inspired beer<br></p>
							Tasting cards to provide feedback to the homebrewer<br>
							<br>
							<p>The story behind the recipe creator</p>
							<br>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-selection" id="large-box">
							<img src="/images/checkout/12_beers.png">
							<div class="amount-circle"><div class="quantity" id="twelve">12</div></div>
							<br>
							<p>Twelve large 22oz bottles of<br>homebrew-inspired beer<br></p>
							Tasting cards to provide feedback to the homebrewer<br>
							<br>
							<p>The story behind the recipe creator</p>
							<br>
						</div>
					</div>
				</div>
			</div>

			<div class="order-selection" id="continue" style="display: none">
				<button type="submit" class="btn btn-primary" style="width: 350px; text-transform: uppercase; letter-spacing: 1px; font-size:30" id="subscribe">Continue to checkout</button>
			</div>

		</div>
	</form>
</section>

{% endblock %}

{% block js %}
<script>

	function calculateTotals() {
		//me flow
			 if (localStorage.getItem("box-size") == "small") {

			 			$('#subscribe').html("Subscribe for $ 43.96");

			 }

			 else if (localStorage.getItem("box-size") == "medium") {
	
			 			$('#subscribe').html("Subscribe for $ 79.92");

			 }

			 else if (localStorage.getItem("box-size") == "large"){

			 		$('#subscribe').html("Subscribe for $ 107.88");

			 }
	}

	$(document).ready(function () {

			$('#customize-button').click(function() {
				$('#customize-flow').fadeIn('slow');
				$('html, body').animate({
				    scrollTop: $("#box-size-choices").offset().top
				}, 1000);
			});

	    $('#small-box').click(function () {
	    	$('#small-box').removeClass("inactive-selection");
	    	$("#small-box").css("border", "4px solid green");
	    	$("#four").html("<div style='color: green'>&#10004</div>");

	    	$("#eight").html("8");
	    	$("#twelve").html("12");
	    	$("#medium-box").css("border", "1px solid #999999");
	    	$("#large-box").css("border", "1px solid #999999");
	    	$('#medium-box').addClass("inactive-selection");
	    	$('#large-box').addClass("inactive-selection");


	    	$('#continue').fadeIn('slow');
	    	$('#box-size').val("small");
	    	$('#progressbar').animate({'value':'40'}, 'slow');
	    	$('#progress-value').html('Order process completion 40%');
	    	localStorage.setItem("box-size", "small");
	    	$('html, body').animate({
				    scrollTop: $("#four").offset().top
				}, 1000);
	    	calculateTotals();
	    });

	    $('#medium-box').click(function () {
	    	$('#medium-box').removeClass("inactive-selection");
	    	$("#medium-box").css("border", "4px solid green");
				$("#eight").html("<div style='color: green'>&#10004</div>");

	    	$("#four").html("4");
	    	$("#twelve").html("12");
	    	//unselect the other boxes
	    	$("#small-box").css("border", "1px solid #999999");
	    	$("#large-box").css("border", "1px solid #999999");
	    	$('#small-box').addClass("inactive-selection");
	    	$('#large-box').addClass("inactive-selection");

	    	$('#continue').fadeIn('slow');
	    	$('#box-size').val("medium");
	    	$('#progressbar').animate({'value':'40'}, 'slow');
	    	$('#progress-value').html('Order process completion 40%');
	    	localStorage.setItem("box-size", "medium");
	    	$('html, body').animate({
				    scrollTop: $("#four").offset().top
				}, 1000);
	    	calculateTotals();
	    });

	    $('#large-box').click(function () {
	    	$('#large-box').removeClass("inactive-selection");
	    	$("#large-box").css("border", "4px solid green");
	    	$("#twelve").html("<div style='color: green'>&#10004</div>");

	    	$("#four").html("4");
	    	$("#eight").html("8");

	    	$("#medium-box").css("border", "1px solid #999999");
	    	$("#small-box").css("border", "1px solid #999999");
	    	$('#small-box').addClass("inactive-selection");
	    	$('#medium-box').addClass("inactive-selection");

	    	$('#continue').fadeIn('slow');
	    	$('html, body').animate({
				    scrollTop: $("#four").offset().top
				}, 1000);
	    	calculateTotals();
	    });

	});
</script>
{% endblock %}