<head>
  <div class="title">
      <title>FAQ</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section id="faq-banner">
</section>
<section class='row'>
    <div class="col-md-12 col-sm-12">
        <h2>FAQ</h2>
        <br>
        <dl>
            <div class="faq-block">
                <dt>When will I get my shipment?</dt>
                <dd>We usually ship within 2 business days of receiving your order. If you've signed up for one of our memberships, your first order will be shipped out soon thereafter. Afterwards, you'll receive our quarterly releases in March, June, September and December.</dd> 
            </div>
            <div class="faq-block">
                <dt>Will the beer I receive be actual homebrew made in a kitchen or garage?</dt>
                <dd>While we think it would be great if we could ship you the real thing straight from our homebrewers’ set ups, selling homebrew is actually illegal. In addition, we would need our homebrewers to brew for several days straight to make enough beer for our membership base, and hand bottling that many beers is just painful. To solve these problems, we work with our homebrewers to scale up their recipes to a commercial level and use a partner brewery to make and bottle the beer we deliver to you. So, in short, you will not receive actual homebrew.</dd>
            </div>
            <div class="faq-block">
                <dt>What do I get with a membership?</dt>
                <dd>Starting with our Fall release, you will receive four 22oz. beers from four different homebrewers. You'll learn the homebrewers’ stories, their inspiration behind the beers, and be able to provide feedback through tasting cards located on the website. Members receive discounts on all Noble Brewer beers and merchandise.</dd>
            </div>

            <div class="faq-block">
                <dt>Where do you ship?</dt>
                <dd>Because of high shipping cost, we are unable to ship to Hawaii and Alaska.</dd>
            </div>
            
            <div class="faq-block">
                <dt>Are you a brewery?</dt>
                <dd>No, we rely on our partner breweries to produce our homebrewer’s best beers. We focus on finding the best brewers and sharing their story with you.</dd>
            </div>

            <div class="faq-block">
                <dt>How small are your batches?</dt>
                <dd>Each beer we make is a single release and brewed one time. That means we have extremely limited quantities and once we run out of a beer, that's it!</dd>
            </div>

            <div class="faq-block">
                <dt>What if I want to cancel my membership?</dt>
                <dd>No problem, you can cancel anytime. But before you do, please e-mail us at support@noblebrewer.com and let us know what we can be doing better.</dd>
            </div>

            <div class="faq-block">
                <dt>I really liked one beer in my shipment. Can I order more?</dt>
                <dd>Yes! We hold a small reserve of beers for our members to purchase, while supplies last. If you’d like to order more, login to the site and go to the beers page. Once there you’ll have the ability to purchase each beer individually.</dd>
            </div>

            <div class="faq-block">
                <dt>What do I do with these tasting cards?</dt>
                <dd>There is an online version of our tasting cards on all the homebrewer pages. Many of our Featured Homebrewers are looking forward to someday opening their own brewery, so it’s always helpful to receive assessments about their recipes. Giving your insights on the beers you receive is one way you can support the talented homebrewers featured in Noble Brewer.</dd>
            </div>
            <div class="faq-block">
                <dt>Where are you located?</dt>
                <dd>We’re a small startup located in Oakland, CA. We have a shop in an industrial park along the Tidal Canal where we get to hang out and eat lunch along the waterfront as the rowing teams go by. Stop in and say ‘Hi’ sometime!</dd>
            </div>
            <div class="faq-block">
                <dt>I’m a homebrewer, what do I need to do to be featured?</dt>
                <dd>On our brewers page, click the button to become a brewer and fill out our short application. As we grow our membership base, we'll look to showcase more of the talented homebrewing community.</dd>
            </div>
            <div class="faq-block">
                <dt>What if I'm not happy about my shipment</dt>
                <dd>Ultimately, we want to make sure you enjoy being a member of Noble Brewer and helping us bring homebrewers' beers to life. So if you ever aren't satisfied, let us know and we'll make it up to you!</dd>
            </div>
            <div class="faq-block">
                <dt>My question isn’t answered here, how can I get more info?</dt>
                <dd>Whoops, sorry about that! Feel free to contact us and we’ll get back to you right away.</dd>
            </div>
        </dl>  
    </div>  		
</section>


<% include ./partials/emailFooter %>
<% include ./partials/footer %>
