{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		
		<div>
			<h1>Frequently Asked Questions</h1>
            <dl>
                <dt>When will I get my shipment?</dt>
                <dd>The inaugural batch is being made as you read this! We’ll update everyone with a shipping date as it matures, and we anticipate that date being end of March/early April. We’ll feature new homebrews every quarter after that, shipping in June, September and December.</dd>
                <dt>Will the beer I receive be actual homebrew made in a kitchen or garage?</dt>
                <dd>While we think it would be great if we could ship you the real thing straight from our homebrewers’ set ups, selling homebrew is actually illegal. In addition, we would need our homebrewers to brew for several days straight to make enough beer for our membership base, and hand bottling that many beers is just painful. To solve these problems, we work with our homebrewers to scale up their recipes to a commercial level and use a partner brewery to make and bottle the beer we deliver to you. So, in short, you will not receive actual homebrew.</dd>
                <dt>What do I get with a membership?</dt>
                <dd>Each quarter you will receive four 22oz. beers from four different homebrewers. We’ll tell the homebrewers’ stories, their inspiration behind the beers, and provide tasting cards. In addition, we’ll be releasing exclusive member-only content on our website. Everything from videos of our homebrewers’ brew day to interviews and pictures and possibly even the homebrew version of the recipe we scaled up.
For the inaugural shipment, we will be shipping four 22 oz. beers from two different homebrewers. The next shipment will be our standard format with our founding homebrewers again being featured alongside two new homebrewers.</dd>
                <dt>Where do you ship?</dt>
                <dd>Due to varying state regulations, we are only able to ship to the following states.
AZ, CA, CO, CT, DC, FL, GA, ID, IL, IO, KS, LA, MD, MI, MO, MT, NE, NV, NY, NC, NM, OH, OK, OR, RI, SC, SD, TN, VT, VA, WA, WI, WY</dd>
                <dt>Are you a brewery?</dt>
                <dd>No. We rely on our partner breweries to produce the beer for us according to our homebrewer’s specifications.</dd>
                <dt>How small are your batches?</dt>
                <dd>While we’re always looking for ways to produce more of the beer-greatness that we find, it depends on the scalability of the recipe as to how much we can make. If the ingredients are really rare, our exclusive batches won’t produce more than 800 total beers!</dd>
                <dt>What if I want to cancel my membership?</dt>
                <dd>No problem, you can cancel anytime. But before you do, please e-mail us at support@NobleBrewerBeer.com and let us know what we can be doing better.</dd>
                <dt>I really liked one beer in my shipment. Can I order more?</dt>
                <dd>Yes! We hold a small reserve of beers for our members to purchase, while supplies last. If you’d like to order more, login to the site and go to the shop. Once there you’ll have the ability to purchase each beer individually (if we’re not already sold out).</dd>
                <dt>What do I do with these tasting cards?</dt>
                <dd>Mail them back or email them to us!! We need your candid feedback on our beers. Since many of our Featured Homebrewers are looking forward to someday opening their own brewery, it’s always helpful to receive assessments about their recipes. As a beer-enthusiast community, one of the best ways to support the homebrewers is to provide valuable observations they normally wouldn’t receive.</dd>
                <dt>Where are you located?</dt>
                <dd>We’re a small startup located in Oakland, CA. We have a shop in an industrial park along the Tidal Canal where we get to hang out and eat lunch along the waterfront as the rowing teams go by. Stop in and say ‘Hi’ sometime!</dd>
                <dt>I’m a homebrewer, what do I need to do to be featured?</dt>
                <dd>Pop over to our Become A Featured Brewer page and we’ll be in touch.</dd>
                <dt>My question isn’t answered here, how can I get more info?</dt>
                <dd>Whoops, sorry about that! Feel free to contact us and we’ll get back to you right away, usually within a few hours.</dd>
            </dl>
		</div>
		
	</div>
{% endblock %}