<head>
  <div class="title">
      <title>Vote for the next featured brewer</title>
  </div>
  <% include ./partials/head %>

</head>


<% include ./partials/simpleHeader %>

<section class="patterned">
	<h3>Choose the next featured homebrewer</h3>
</section>

<section class="row">
	<div class="row top-buffer">
		<!-- BREWER ONE -->
		<div class="col-md-3" id="container-1">
			<div class="row vote-banner centered-block">
				<h4>Lost Local Brewing</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-1" role="button"> 
					<img src="/images/brewer_vote/lostlocal.png"/>
				</div>
				<div class="vote-text" id="vote-text-1">
					<h4>Trubbel</h4>
					<p>Belgian Dark Strong ABV: 8.9%</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-1">
				<h4>Vote now</h4>
			</div>
		</div>
		<!-- BREWER TWO -->
		<div class="col-md-3" id="container-2">
			<div class="row vote-banner centered-block">
				<h4>Boden</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-2" role="button"> 
					<img src="/images/brewer_vote/boden.png"/>
				</div>
				<div class="vote-text" id="vote-text-2">
					<h4>American IPA</h4>
					<p>6.5% ABV</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-2">
				<h4>Vote now</h4>
			</div>
		</div>
		<!-- BREWER THREE -->
		<div class="col-md-3" id="container-3">
			<div class="row vote-banner centered-block">
				<h4>Myers</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-3" role="button"> 
					<img src="/images/brewer_vote/myers.png"/>
				</div>
				<div class="vote-text" id="vote-text-3">
					<h4>American IPA</h4>
					<p>6.5% ABV</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-3">
				<h4>Vote now</h4>
			</div>
		</div>
		<!-- BREWER FOUR -->
		<div class="col-md-3" id="container-4">
			<div class="row vote-banner centered-block">
				<h4>Papa Doc</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-4" role="button"> 
					<img src="/images/brewer_vote/papadoc.png"/>
				</div>
				<div class="vote-text" id="vote-text-4">
					<h4>American IPA</h4>
					<p>6.5% ABV</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-4">
				<h4>Vote now</h4>
			</div>
		</div>
	</div>
</section>

<!-- Homebrewer 1 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lost Local Brewing</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/lostlocal.png">
        	</div>
        	<div class="col-md-6">
        		<p>Part Tripel, Part Dubbel, All Belgian</p>
        		<p>Trubbel</p>
        		<p>Belgian Dark Strong</p>
        		<p>ABV: 8.9</p>
        		<ul>Awards:
					<li>Motown MASH (NJ, BJCP Sanctioned: 1ST Place Belgian Strong2</li>
					<li>Old Forge Old Ale Competition (NY, BJCP Sanctioned): 1st Place Belgian and Best of Show</li>
				</ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">Starting with a deep red, dark caramel color, our Trubbel provides the mouthfeel you'd expect from a fuller bodied Belgian ale and continues to tempt with the malty sweetness of a traditional dubbel, finishing with a silky linger of dried fruits. Trubbel boasts a slightly higher alcohol content tempered by mild but identifiable banana-clove notes, traditional of a tripel. One of our proudest moments was reading notes from a BJCP judge calling Trubbel ‘liquid luxury in a glass,’ a sentiment we hope you'll share. Cheers!</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Homebrewer 2 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-2">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lost Local Brewing</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/lostlocal.png">
        	</div>
        	<div class="col-md-6">
        		<p>Part Tripel, Part Dubbel, All Belgian</p>
        		<p>Trubbel</p>
        		<p>Belgian Dark Strong</p>
        		<p>ABV: 8.9</p>
        		<ul>Awards:
					<li>Motown MASH (NJ, BJCP Sanctioned: 1ST Place Belgian Strong2</li>
					<li>Old Forge Old Ale Competition (NY, BJCP Sanctioned): 1st Place Belgian and Best of Show</li>
				</ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">Starting with a deep red, dark caramel color, our Trubbel provides the mouthfeel you'd expect from a fuller bodied Belgian ale and continues to tempt with the malty sweetness of a traditional dubbel, finishing with a silky linger of dried fruits. Trubbel boasts a slightly higher alcohol content tempered by mild but identifiable banana-clove notes, traditional of a tripel. One of our proudest moments was reading notes from a BJCP judge calling Trubbel ‘liquid luxury in a glass,’ a sentiment we hope you'll share. Cheers!</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Homebrewer 3 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-3">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lost Local Brewing</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/lostlocal.png">
        	</div>
        	<div class="col-md-6">
        		<p>Part Tripel, Part Dubbel, All Belgian</p>
        		<p>Trubbel</p>
        		<p>Belgian Dark Strong</p>
        		<p>ABV: 8.9</p>
        		<ul>Awards:
					<li>Motown MASH (NJ, BJCP Sanctioned: 1ST Place Belgian Strong2</li>
					<li>Old Forge Old Ale Competition (NY, BJCP Sanctioned): 1st Place Belgian and Best of Show</li>
				</ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">Starting with a deep red, dark caramel color, our Trubbel provides the mouthfeel you'd expect from a fuller bodied Belgian ale and continues to tempt with the malty sweetness of a traditional dubbel, finishing with a silky linger of dried fruits. Trubbel boasts a slightly higher alcohol content tempered by mild but identifiable banana-clove notes, traditional of a tripel. One of our proudest moments was reading notes from a BJCP judge calling Trubbel ‘liquid luxury in a glass,’ a sentiment we hope you'll share. Cheers!</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Homebrewer 4 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-4">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lost Local Brewing</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/lostlocal.png">
        	</div>
        	<div class="col-md-6">
        		<p>Part Tripel, Part Dubbel, All Belgian</p>
        		<p>Trubbel</p>
        		<p>Belgian Dark Strong</p>
        		<p>ABV: 8.9</p>
        		<ul>Awards:
					<li>Motown MASH (NJ, BJCP Sanctioned: 1ST Place Belgian Strong2</li>
					<li>Old Forge Old Ale Competition (NY, BJCP Sanctioned): 1st Place Belgian and Best of Show</li>
				</ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">Starting with a deep red, dark caramel color, our Trubbel provides the mouthfeel you'd expect from a fuller bodied Belgian ale and continues to tempt with the malty sweetness of a traditional dubbel, finishing with a silky linger of dried fruits. Trubbel boasts a slightly higher alcohol content tempered by mild but identifiable banana-clove notes, traditional of a tripel. One of our proudest moments was reading notes from a BJCP judge calling Trubbel ‘liquid luxury in a glass,’ a sentiment we hope you'll share. Cheers!</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Modal to submit email address and vote -->

<div id="voteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Vote for Lost Local Brewing</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin">
        	<p class="col-md-12 top-buffer-thin">Each person can only vote once and you must be 21 to vote.</p>
        </div>
        <form class="row hr-gold-thin vote-form top-buffer">
        	<div class="form-group col-md-12">
				<input type="email" class="form-control" id="email_address" placeholder="Email">
			</div>
        	<div class="form-group col-md-12">
				<input type="date" value="" name="customer[date]" style="width:100%" id="birthdate" placeholder="">
			</div>
        </form>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" disabled id="submit-vote">
      	<h4>Vote Now</h4>
      </div>
    </div>
  </div>
</div>

<!-- Sharing/Success Modal -->

<div id="shareModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Success!</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer-thin">
        	<div class="col-md-6">
        		<p class="col-md-12">Thanks for voting for me! I've been homebrewing for 10 years and am so excited for the chance to get my beer produced and shared with so many people. Please share with your friends and help me win!</p>
        		<div class="small-social-media">
	    		<a href="https://www.facebook.com/noblebrewer" target="_blank"><img class="no-border" src="/images/generic/facebook.png"></a>
	    		<a href="https://instagram.com/NobleBrewer" target="_blank"><img class="no-border" src="/images/generic/instagram.png"></a>
	    		<a href="http://twitter.com/NobleBrewerBeer" target="_blank"><img class="no-border" src="/images/generic/twitter.png"></a>
			</div>
        	</div>
        	<div class="col-md-6">
        		<div id="demo"></div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./partials/simpleFooter %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="/javascripts/homebrewervote.js"></script>
