<head>
  <div class="title">
      <title>Vote for the next featured brewer</title>
  </div>
  <% include ./partials/head %>
</head>


<section class="patterned row">
  <img src="/images/generic/simple_logo.svg" class="no-border col-md-2 col-md-offset-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-4"/>
</section>

<div class="centered-block">
  <h4>Choose the next featured homebrewer</h4>
</div>

<section class="row hr-gold-thin">
	<div class="row top-buffer">
		<!-- BREWER ONE -->
		<div class="col-md-3 col-sm-6 col-xs-12" id="container-1">
			<div class="row vote-banner centered-block">
				<h4>Lost Local Brewing</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-1" role="button"> 
					<img src="/images/brewer_vote/lostlocal.png"/>
				</div>
				<div class="vote-text" id="vote-text-1">
					<h4>Trubbel</h4>
					<p>Belgian Dark Strong</p>
          <p>ABV: 8.9%</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-1">
				<h4>Vote now</h4>
			</div>
		</div>
		<!-- BREWER TWO -->
		<div class="col-md-3 col-sm-6 col-xs-12" id="container-2">
			<div class="row vote-banner centered-block">
				<h4>Brent</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-2" role="button"> 
					<img src="/images/brewer_vote/boden.png"/>
				</div>
				<div class="vote-text" id="vote-text-2">
					<h4>Bacon Maple Bourbon Rauchbier</h4>
          <p>Classic Rauchbier</p>
					<p>6.3% ABV</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-2">
				<h4>Vote now</h4>
			</div>
		</div>
		<!-- BREWER THREE -->
		<div class="col-md-3 col-sm-6 col-xs-12" id="container-3">
			<div class="row vote-banner centered-block">
				<h4>Benjamin</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-3" role="button"> 
					<img src="/images/brewer_vote/myers.png"/>
				</div>
				<div class="vote-text" id="vote-text-3">
					<h4>Sauvignon Blanc Pale</h4>
          <p>American Pale Ale</p>
          <p>5.9% ABV</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-3">
				<h4>Vote now</h4>
			</div>
		</div>
		<!-- BREWER FOUR -->
		<div class="col-md-3 col-sm-6 col-xs-12" id="container-4">
			<div class="row vote-banner centered-block">
				<h4>Matthew</h4>
			</div>
			<div class="vote-container">
				<div class="vote-photo centered-block img-responsive"  id="vote-photo-4" role="button"> 
					<img src="/images/brewer_vote/papadoc.png"/>
				</div>
				<div class="vote-text" id="vote-text-4">
					<h4>Papa Doc IPA</h4>
          <p>American IPA</p>
					<p>6.5% ABV</p>
					<p><i>Click for more details...</i></p>
				</div>
			</div>
			<div class="row vote-banner centered-block" role="button" id="vote-banner-4">
				<h4>Vote now</h4>
			</div>
		</div>
	</div>
</section>

<!-- Homebrewer 1 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lost Local Brewing</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/lostlocal.png">
        	</div>
        	<div class="col-md-6">
        		<p>Part Tripel, Part Dubbel, All Belgian</p>
        		<p>Trubbel</p>
        		<p>Belgian Dark Strong</p>
        		<p>ABV: 8.9%</p>
        		<ul>Awards:
					<li>Motown MASH (NJ, BJCP Sanctioned: 1ST Place Belgian Strong2</li>
					<li>Old Forge Old Ale Competition (NY, BJCP Sanctioned): 1st Place Belgian and Best of Show</li>
				</ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">Starting with a deep red, dark caramel color, our Trubbel provides the mouthfeel you'd expect from a fuller bodied Belgian ale and continues to tempt with the malty sweetness of a traditional dubbel, finishing with a silky linger of dried fruits. Trubbel boasts a slightly higher alcohol content tempered by mild but identifiable banana-clove notes, traditional of a tripel. One of our proudest moments was reading notes from a BJCP judge calling Trubbel ‘liquid luxury in a glass,’ a sentiment we hope you'll share. Cheers!</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote-1">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Homebrewer 2 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-2">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Brent</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/boden.png">
        	</div>
        	<div class="col-md-6">
        		<p>Barrel Aged Breakfast in a Glass</p>
        		<p>Bacon Maple Bourbon Rauchbier</p>
        		<p>Classic Rauchbier</p>
        		<p>ABV: 6.3%</p>
            <p>Awards:</p>
        		<ul>
					   <li>Gold Certificate at AHA National Homebrewers Regional</li>
				    </ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">This Rauchbier pours a gorgeous deep burnt orange with a nose of bacon and maple syrup resonating.  First sip showcases a smokey, malty flavor with a hint of oak aged  bourbon and finishing with the sweet maple and salty bacon flavor.</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote-2">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Homebrewer 3 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-3">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Benjamin</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/myers.png">
        	</div>
        	<div class="col-md-6">
         		<p>Fine as wine, without the pretention.</p>
        		<p>Sauvignon Blanc Pale</p>
        		<p>American Pale Ale</p>
        		<p>ABV: 5.9%</p>
            <p>Awards:</p>
        		<ul>
					<li>Silver Medal, American Pale Ale, Suwanee Beer Fest Home Brew Contest 2015</li>
				</ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">I originally based this recipe on my wine drinking friends challenging me to replicate the flavors of Sauvignon Blanc wine. When I finished, it wasn’t a dead ringer but I found a wonderful American Pale Ale with amazing hop flavors. Focusing on late kettle additions and massively dry hopped, this beer showcases amazing flavors of fruit, citrus and floral that smack you right in the face. This a beer everyone can enjoy! Cheers Y’all!</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote-3">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Homebrewer 4 Info Modal -->
<div class="modal fade" role="dialog" id="brewer-modal-4">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Matthew</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer vote-container">
        	<div class="col-md-6 centered-block vote-photo">
        		<img src="/images/brewer_vote/papadoc.png">
        	</div>
        	<div class="col-md-6">
        		<p>Rich in flavor and character, Papa Doc IPA will cure what ales ya.</p>
        		<p>Papa Doc IPA</p>
        		<p>American IPA</p>
        		<p>ABV: 6.5%</p>
            <p>Awards</p>
        		<ul>
					<li>1st place in American IPA - The Wisconsin State Fair Homebrew Competition</li>
          <li>Best American Style Beer - The Wisconsin State Fair Homebrew Competition</li>
					<li>1st place - Dexters Pub/Lakefront Brewing C. Madison Craft Beer Week Homebrew Competition</li>
				</ul>
        	</div>
        </div>
        <div class="row hr-gold-thin">
        	<p class=" col-md-12 top-buffer">Papa Doc is truly a third coast IPA. Its appearance, a sparkling rust orange capped by a crown of pillowy white foam.A rush of tropical aromas greet your nose when you first tilt the glass. Peach, starfruit, and even a whiff of pineapple. On first sip your palette is ambushed by the surprisingly robust malt body and an assault of hoppy goodness. The fruity character of the Mosaic hops sing and Simcoe hops round out the flavor with a dank resinous bite. Papa Doc gets most of its hop character from late hop additions and an extended whirlpool. So while it is a hop lover's dream it will also appeal to those who might normally fear such a high IBU beer Rich in flavor and character, Papa Doc IPA will cure what ales ya.</p>
        </div>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" id="info-vote-4">
      	<h4>Vote</h4>
      </div>
    </div>

  </div>
</div>

<!-- Modal to submit email address and vote -->

<div id="voteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Vote now</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin">
        	<p class="col-md-12 top-buffer-thin">Each person can only vote once and you must be 21 to vote.</p>
        </div>
        <form class="row hr-gold-thin vote-form top-buffer">
        	<div class="form-group col-md-12">
				<input type="email" class="form-control" id="email_address" placeholder="Email">
			</div>
        	<div class="form-group col-md-12">
				<input type="date" value="" name="customer[date]" style="width:100%" id="birthdate" placeholder="">
			</div>
        </form>
      <p style="color:red" class="hidden" id="age-warning">You must be 21 or older to submit a vote</p>
      <p style="color:red" class="hidden" id="email-warning">Please enter a valid email address</p>
      </div>
      <div class="vote-modal-footer hr-gold-thin" role="button" disabled id="submit-vote">
      	<h4>Vote Now</h4>
      </div>
    </div>
  </div>
</div>

<!-- Sharing/Success Modal -->

<div id="shareModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content vote-info-modal">
      <div class="modal-header" style="border:none">
        <button type="button" style="color:white; opacity:.6" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title centered-block">Success!</h4>
      </div>
      <div class="modal-body">
        <div class="row hr-gold-thin top-buffer-thin">
        	<div class="col-md-6">
        		<p class="col-md-12">Thanks for voting for me! Please share with your friends and help me win!</p>
        		<div class="small-social-media">
	    		<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.noblebrewer.com/homebrewers/vote" target="_blank" id="facebook"><img class="no-border" src="/images/generic/facebook.png"></a>
	    		<a href="https://twitter.com/home?status=I%20just%20voted%20for%20%40caitlin%20to%20be%20one%20of%20%40NobleBrewerBeer%20's%20featured%20homebrewers.%20Click%20here%20to%20place%20your%20vote.%20" target="_blank" id="twitter"><img class="no-border" src="/images/generic/twitter.png"></a>
			</div>
        	</div>
        	<div class="col-md-6">
            <div class="row">
              <div class="vote-chart" style="float:left" id="percentage-brewer-1"></div>
              <p style="float:left; padding-left:10px">Lost Local</p>
            </div>
            <div class="row">
              <div class="vote-chart" style="float:left" id="percentage-brewer-2"></div>
              <p style="float:left; padding-left:10px">Brent</p>
            </div>
            <div class="row">
              <div class="vote-chart" style="float:left" id="percentage-brewer-3"></div>
              <p style="float:left; padding-left:10px">Benjamin</p>
            </div>
            <div class="row">
              <div class="vote-chart" style="float:left" id="percentage-brewer-4"></div>
              <p style="float:left; padding-left:10px">Matthew</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer centered-block">
        <p>View more about Noble Brewer <span><a href="http://www.noblebrewer.com">here</a></span></p>
      </div>
    </div>
  </div>
</div>

<% include ./partials/simpleFooter %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="/javascripts/homebrewervote.js"></script>
