<head>
  <div class="title">
      <title>Noble Brewer</title>
  </div>

<!-- Google Analytics Content Experiment code -->
 <!-- <script>function utmx_section(){}function utmx(){}(function(){var
// k='80367997-27',d=document,l=d.location,c=d.cookie;
// if(l.search.indexOf('utm_expid='+k)>0)return;
// function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
// indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
// length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
// '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
// '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
// '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
// valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
// '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
// </script> -->
<!-- End of Google Analytics Content Experiment code --> 


  <% include ./partials/head %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<div class="container-fluid homepage">
<% include ./partials/header %>

<section class="homepage-header">
  <div>
    <h2>Try beers from the nation's best homebrewers</h2>
    <a class="btn-nb" href="/subscription">Get Started Now</a>
  </div>
</section>

<section class="patterned divider">
</section>

<section class="row dark-striped top-buffer-thin featured-in">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/food-and-wine.png">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/Fortune.png">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/liquid-bread.png">
  <div class="hidden-md hidden-lg hidden-sm"><br><br></div>
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/product-hunt.png">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/urban-daddy.png">
</section>

<section class="patterned divider">
</section>

<section class="row top-buffer-thin" id="our-process-section">
  <h2>How it works</h2>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 centered-block">
      <img class="no-border thin-margin" src="/images/home/step3.png">
      <!-- <h4>We Curate</h4> -->
      <p>We find the best amateur brewers from across the US.</p>
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-12 centered-block">
      <img class="no-border thin-margin" src="/images/home/step2.png">
      <!-- <h4>You Taste</h4> -->
      <p>We work with professional brewers to bring their best beers to life.</p>
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-12 centered-block">
      <img class="no-border thin-margin" src="/images/home/step1.png">
      <!-- <h4>You Decide</h4> -->
      <p>Our members get four new creations every quarter.</p>
    </div>
  </div>
  <div class="row">
    <a class="btn-nb" href="/subscription">I'm In</a>
  </div>
</section>

<section id="awards-won-section">
<h3>We only use award winning homebrewers</h2>
<h4>The recipes have been vetted by pro judges blahblah</h4>
<!-- Put some graphics that show the different awards they've won -->
</section>

<section id="members-section">
<h3>Our beers are a labor of love</h2>
<h4>We love craft beer, so we only create beer we'd want to drink. See what our members have to say about it.</h4>
<div class="row member-tweets">
  <div class="tweet-container">
  </div>
</div>
<!-- Twitter feed -->
</section>

<section id="members-section">
<h3>We do this for you.</h2>
<h4>All we care about is bringing together amazing homebrewers with craft beer lovers. We're a small company, so your voice is always heard.</h4>
<h4>100% Satisfaction Guaranteed.</h4>
<h4>Cancel Anytime.</h4>
<!-- Twitter feed -->
</section>

<section id="samplers-section">
<h3>Once a quarter isn't enough for our members</h2>
<h4>Our members love beer. We have access to great beer that our members can't get at home. So as a bonus, we do weekly samplers.</h4>
<p>Once a week. No "filler" beers. Only the best</p>
<!-- Twitter feed -->
</section>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script>
$('.center-slick').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  draggable: true,  
  arrows: true,
  infinite: true,
  touchMove: true,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});

</script>
<% include ./partials/footer %>
</div>
