{% extends "templates/layouts/default.html" %}

{% block content %}
<section>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <h1> WE ARE A COMPLETELY UNIQUE BEER CLUB. </h1>
            <p>Subscribe to Noble Brewer to have original limited run beers, created by our featured brewers, delivered directly to your door every quarter.
            <br>
            <br>
            <button class="btn btn-primary">Buy it</button>
            <button class="btn btn-primary">Gift it</button>
          </div>
          <div class="col-md-6">
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="420" height="315" src="https://www.youtube.com/embed/hHulSUVbTuU"></iframe>
              </div>
          </div>
      </div>
  </div>
  ​<hr style="width = 100%"/>​​​​​​​​​​​​​​​​​​​
</section>

<section>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="display: inline-block; vertical-align: middle">
            <h2>IT'S ALL IN THE STORY</h2>
            <p>The best things in life have a story behind them and the best stories are the ones we create together. Our members are the driving force behind producing these great recipes, enabling us to bring these beers to life and share the brewer's story with the world. Become part of the craft beer movement, become a member.</p>
            <a>Meet our Featured Homebrewers</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <h2>WHAT IS NOBLE BREWER?</h2>
            <p>Noble Brewer is a new kind of beer club. We're dedicated to celebrating the pioneers of the the craft beer movement - the homebrewer. We believe a great beer should be savored and appreciated with friends so we focus on creating a tasting experience centered around the origination of the recipe and the people who create them.</p>
            <a>VIEW CURRENT BATCH >></a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h2>OUR PROCESS</h2>
            <p>Our process starts with the homebrewer. Our community submits their favorite award-winning homebrews. Then, we pair the recipe creator with a professional brewery to make their beer. Once bottled, we ship the beer and the story behind the featured homebrewer to our members who, in turn, provide feedback to the brewers. The end result is unique, one-of-a-kind craft beers that can't be found anywhere else.</p>
            <a>FIND OUT MORE ABOUT OUR PROCESS >></a>
        </div>
    </div>
  </div>
  ​<hr style="width = 100%"/>​​​​​​​​​​​​​​​​​​​
</section>
<section>
  <div class="container">
      <div class="row">
          <div class="text-center">
              <h2>HOW IT WORKS</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4">
              <div style = "margin-left: auto; margin-right: auto; text-align: center; display: block">
                <img style="margin-left: auto; margin-right: auto; display: block; border-radius: 100%" src="http://www.fillmurray.com/200/200"/>
                <h4>JOIN THE COMMUNITY</h4>
                <p>Join our community of beer lovers to have unique, limited run beer delivered directly to your door as it's produced, quarterly. Sign up as a homebrewer for a shot at sharing your beer with the world.</p>
              </div>
          </div>
          <div class="col-sm-4">
              <div style = "margin-left: auto; margin-right: auto; text-align: center; display: block">
                <img style="margin-left: auto; margin-right: auto; display: block; border-radius: 100%" src="http://www.fillmurray.com/200/200"/>
                <h4>ENJOY</h4>
                <p>Bring some friends over and open a bottle of Noble Brewer over dinner, on a sunny day or just because. Our beer is made to be shared so find someone special to split it with.</p>
              </div>
          </div>
          <div class="col-sm-4">
              <div style = "margin-left: auto; margin-right: auto; text-align: center; display: block">
                <img style="margin-left: auto; margin-right: auto; display: block; border-radius: 100%" src="http://www.fillmurray.com/200/200"/>
                <h4>INFLUENCE</h4>
                <p>Our community helps us determine which beer gets made next. Keep track of the beers you've tried and what you thought of them - we'll make sure to share your feedback with the brewer.</p>
              </div>
          </div>
      </div>
  </div>
  <hr style="width = 100%"/>​​​​​​​​​​​​​​​​​​​
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
          <h2>DON'T MISS OUT</h2>
      </div>
      <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
        <p>Our limited runs only last until our members claim all the remaining boxes of beer.
          Secure your sample pack and try something new today by subscribing to be a member of the Noble Brewer community before it's all gone!</p>
        <br>
        <button class="btn btn-primary">Join now</button> 
      </div>
    </div>
  </div>
  <hr style="width = 100%"/>​​​​​​​​​​​​​​​​​​​
</section>
<section>
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <blockquote style="font-style: italic" class="blockquote-reverse">
        <p>"The beer came out better than the one we normally brew"</p>
        <footer><cite title="Source Title">- YERBA BUENA</cite></footer>
      </blockquote>
    </div>
  </div>
  <br>
  <br>
</section>

{% endblock %}
