<head>
  <div class="title">
      <title>Noble Brewer</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<% include ./partials/beta %>

<section class="patterned row">
      <div class="col-md-6 col-sm-12">
        <h2> GET SINGLE RELEASE CRAFT BEERS DELIVERED TO YOU </h2>
        <p>The best craft beers come from homebrewers. Become a member of Noble Brewer to try our award winning brewers' best beers.</p>
        <div class="row col-md-12 col-sm-12">
            <div class="col-sm-6">
              <a class="btn btn-nb" href="/subscription">Get Beer</a>
            </div>
            <div class="col-sm-6">
              <a class="btn btn-nb-ghost" href="/subscription">Gift Beer</a> 
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tan-border">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe width="420" height="315" src="https://www.youtube.com/embed/hHulSUVbTuU"></iframe>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="alt-base">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/home/img1.jpg" class="img-responsive tan-border">
    </div>
    <div class="col-md-6  col-sm-12">
        <h3>WHAT IS NOBLE BREWER?</h3>
        <div class="body-copy">
          <p>Noble Brewer is a new kind of beer club. We're dedicated to celebrating the pioneers of the the craft beer movement - the homebrewer. Savor their unique creations while you learn about the person who created the beer.</p>
        </div>
        <a href="beers/">View current batch >></a>
    </div>
  </div>

    <div class="diamond-separator"></div>

    <div class="row">
        <div class="col-md-6">
            <h3>OUR PROCESS</h3>
            <div class="body-copy">
              <p>We find the best homebrew recipes and pair the creator with a professional brewery to make their beer. Once bottled, we ship the beer and the story behind the featured homebrewer to our members. The end result is unique, one-of-a-kind craft beers unavailable in stores or restaurants.</p>
            </div>
            <a href="/about">Find out more about our process >></a>
        </div>
        <div class="col-md-6">
          <img src="/images/home/img2.jpg" class="img-responsive">
        </div>
</section>

<section class="patterned">
  <div class="row">
      <div class="text-center">
          <h3>HOW IT WORKS</h3>
      </div>
  </div>
  
  <div class="row">
      <div class="col-sm-4">
          <div class="centered-block">
            <img src="/images/home/step1.png" class="img-responsive centered-block"></img>
            <h4>SUBSCRIBE</h4>
            <p>Choose the amount of beer that's right for you. Then, we'll immediately send you our latest release.</p>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="centered-block">
            <img src="/images/home/step2.png" class="img-responsive centered-block"/>
            <h4>INDULGE</h4>
            <p>No explanation needed here. Learn homebrewer's story while enjoying their award winning creation. Our bottles are big so you can share with a friend or two!</p>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="centered-block">
            <img src="/images/home/step3.png" class="img-responsive centered-block"/>
            <h4>INFLUENCE</h4>
            <p>Tell us what you think. Your comments help us decide what goes in our future releases.</p>
          </div>
      </div>
    </div>
</section>
<section class="row alt-base">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h3>DON'T MISS A BATCH</h3>
      <p class="body-copy">Our limited brews are only available for a few months. Join to become a member of the Noble Brewer community and make sure you never miss a great beer!</p>
      <br>
      <a class="btn btn-nb" href="/subscription">Get Beer</a>
      <a class="btn btn-nb-ghost" href="/subscription">Gift Beer</a>
    </div>
  <br>
  <br>
</section>
<section class="patterned">
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <blockquote>
        <p>
          ...what you'll find here is meticulously replicated real live homebrews with the added benefit of not being made in a garage.
        </p>
        <cite title="Source Title">URBAN DADDY</cite>
      </blockquote>
    </div>
  </div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>
