<head>
  <div class="title">
      <title>Noble Brewer</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section class="patterned row">
      <div class="col-md-6 col-sm-12">
        <h2> GET SINGLE RELEASE CRAFT BEERS DELIVERED TO YOU. </h2>
        <p>The best craft beers come from homebrewers. Become a member of Noble Brewer to try our award winning brewers' best beers.</p>
        <div class="row col-md-6 col-sm-12">
            <div class="col-sm-6">
              <a class="btn btn-nb" href="/subscription">Get Beer</a>
            </div>
            <div class="col-sm-6">
              <a class="btn btn-nb-ghost" href="/subscription">Gift it</a> 
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tan-border">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe width="420" height="315" src="https://www.youtube.com/embed/hHulSUVbTuU"></iframe>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="row alt-base">
    <div class="col-md-6">
      <img src="/images/home/img1.jpg" class="img-responsive tan-border">
    </div>
    <div class="col-md-6  col-sm-12">
        <h3>WHAT IS NOBLE BREWER?</h3>
        <div class="body-copy">
          <p>Noble Brewer is a new kind of beer club. We're dedicated to celebrating the pioneers of the the craft beer movement - the homebrewer. We believe a great beer should be savored and appreciated with friends so we focus on creating a tasting experience centered around the origination of the recipe and the people who create them.</p>
        </div>
        <a href="beers/">View current batch >></a>
    </div>

    <div class="diamond-separator"></div>

    <div class="row">
        <div class="col-md-6">
            <h3>OUR PROCESS</h3>
            <div class="body-copy">
              <p>We diligently seek out the best homebrew recipes and pair the homebrewer with a professional brewery to make their beer. Once bottled, we ship the beer and the story behind the featured homebrewer to our members. The end result is unique, one-of-a-kind craft beers that can't be found anywhere else.</p>
            </div>
            <a href="/about">Find out more about our process >></a>
        </div>
        <div class="col-md-6">
          <img src="/images/home/img2.jpg" class="img-responsive">
        </div>
</section>

<section class="patterned">
  <div class="row">
      <div class="text-center">
          <h3>HOW IT WORKS</h3>
      </div>
  </div>
  
  <div class="row">
      <div class="col-sm-4">
          <div class="centered-block">
            <img src="/images/home/step1.png" class="img-responsive centered-block"></img>
            <h4>SUBSCRIBE</h4>
            <p>Choose the membership that's right for you and we'll immediately start sending you homebrewer inspired beers on a seasonal release schedule.</p>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="centered-block">
            <img src="/images/home/step2.png" class="img-responsive centered-block"/>
            <h4>INDULGE</h4>
            <p>Share a beer with friends or keep it for yourself. Either way, we'll send the homebrewer's story so you know how the brew made it from an idea to your palette</p>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="centered-block">
            <img src="/images/home/step3.png" class="img-responsive centered-block"/>
            <h4>INFLUENCE</h4>
            <p>Your feedback on customized tasting cards helps us determine what we make next. All of your feedback is shared with the homebrewer so they know how to improve their recipe.</p>
          </div>
      </div>
    </div>
</section>
<section class="row alt-base">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h3>DON'T MISS A BATCH</h3>
      <p class="body-copy">Our limited brews are only available for a few months. Secure your spot and try something new now by becoming a member of the Noble Brewer community before the beer's gone!</p>
      <br>
      <a class="btn btn-nb" href="/customize">Get Beer</a>
      <a class="btn btn-nb-ghost" href="/signup">Gift it</a>
    </div>
  <br>
  <br>
</section>
<section class="patterned">
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <blockquote>
        <p>
          ...what you'll find here is meticulously replicated real live homebrews with the added benefit of not being made in a garage.
        </p>
        <cite title="Source Title">URBAN DADDY</cite>
      </blockquote>
    </div>
  </div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>
