{% extends "templates/layouts/default.html" %}

{% block content %}
    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
            <p>A passionate craft beer community that brings homebrews to life</p>
            <p>Become a member of Noble Brewer to taste impossible to find, limited-run craft beer delivered directly to your door.</p>
            <button class="btn btn-primary">Buy it</button>
            <button class="btn btn-primary">Gift it</button>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/hHulSUVbTuU"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#232121;padding:80px 0;">
        <div class="container">
            
            <div class="row">
                <div class="col-md-6">
                    <p>It's all in the story</p>
                    <p>The best things in life have a story behind them and the best stories are the ones we create together. Our members are the driving force behind producing these great recipes, enabling us to bring these beers to life and share the brewer's story with the world. Become part of the craft beer movement, become a member.</p>
                    <a>Meet our Featured Homebrewers</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <p>What is Noble Brewer?</p>
                    <p>Noble Brewer is a new kind of beer club. We're dedicated to celebrating the pioneers of the the craft beer movement - the homebrewer. We believe a great beer should be savored and appreciated with friends so we focus on creating a tasting experience centered around the origination of the recipe and the people who create them.</p>
                    <a>View current batch</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <p>Our Process</p>
                    <p>Our process starts with the homebrewer. Our community submits their favorite award-winning homebrews. Then, we pair the recipe creator with a professional brewery to make their beer. Once bottled, we ship the beer and the story behind the featured homebrewer to our members who, in turn, provide feedback to the brewers. The end result is unique, one-of-a-kind craft beers that can't be found anywhere else.</p>
                    <a>Find out more about our process</a>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2>How it works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src=""/>
                    <p>Join the community</p>
                    <p>Join our community of beer lovers to have unique, limited run beer delivered directly to your door as it's produced, quarterly. Sign up as a homebrewer for a shot at sharing your beer with the world.</p>
                </div>
                <div class="col-sm-4">
                    <img src=""/>
                    <p>Enjoy</p>
                    <p>Bring some friends over and open a bottle of Noble Brewer over dinner, on a sunny day or just because. Our beer is made to be shared so find someone special to split it with.</p>
                </div>
                <div class="col-sm-4">
                    <img src=""/>
                    <p>Influence</p>
                    <p>Our community helps us determine which beer gets made next. Keep track of the beers you've tried and what you thought of them - we'll make sure to share your feedback with the brewer</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#232121;padding:80px 0;">
        <div class="container">
            <p>Don't miss out</p>
            <p>Our limited runs only last until our members claim all the remaining boxes of beer.
    Secure your sample pack and try something new today by subscribing to be a member of the Noble Brewer community before it's all gone!</p>
            <button class="btn btn-primary">Join now</button>
        </div>
    </div>
    <div style="background-color:#000;padding:80px 0;">
        <div class="container">
            <p>"Your cooler now answers to Noble Brewer"</p>
            <a>-Urban Daddy</a>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
        {% if user and user.canAccessKeystone %}
            <p>
                <a href="/keystone" class="btn btn-lg btn-primary">Open the Admin UI</a>
            </p>
        {% else %}
            <p>We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.</p>
        {% endif %}
    </div>
    </div>
{% endblock %}
