<head>
  <div class="title">
      <title>Noble Brewer</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<ul class="nav navbar-nav navbar-right">
	<% if (user) { %>
		<% if (user.canAccessKeystone) { %>
		<li><a class="nav-link" href="/keystone">Open Keystone</a></li>
		<% } %>
		<li><a class="nav-link login" href="/keystone/signout">Sign Out</a></li>
	<% } else { %>
		<li><a class="nav-link login" href="/keystone/signin">Sign In</a></li>
	<% } %>
</ul>