<head>
  <div class="title">
    <title>Untappd &amp; Noble Brewer</title>
  </div>
  <% include ./partials/head %>
</head>

<body class="untappd">
	<div class="row centered-block">
		<img class="no-border top-buffer" src="/images/untappd/untappdandNB.png">
	</div>
	<div class="row">
		<img class="no-border" src="/images/untappd/co-brand_hero_img.jpg">
	</div>
	<div class="row centered-block">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<p class="lead">Congrats on unlocking code UNTAPPD10!</p>
				<p class="lead">Get 10% off your cart at checkout!</p>
			</div>
			<div class="row">
				<a href="/"><span><p class="lead uppercase">PLEASE VERIFY THAT YOU ARE OF LEGAL AGE AND ENTER YOUR EMAIL TO CONTINUE.</p></span></a>
			</div>
			<div class="row">
				<input type="checkbox" style="font-color:black" id="age-confirm">I confirm I'm of legal drinking age*
			</div>
			<div class="row top-buffer">
				<input class="full-width" type="email" id="email" placeholder="Enter Email"> 
			</div>
			<div class="row">
				<button class="btn-nb" id="submit-email" href="/">Let me in!</button>
			</div>
			<br><br>
			<div>
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="top-buffer">I'm not 21 years of age</a>
			</div>
			<div class="row top-buffer">
				<p class="lead">Homebrewers are the driving force behind the craft beer movement and we feel they should be able to share their beer. Noble Brewer pairs homebrewers with a professional brewery to have their award-winning recipes made at scale. Then we ship that artisanal craft beer to your door!</p>
			</div>
		</div>
	</div>
</body>
<% include ./partials/simpleFooter-white %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/javascripts/landingpage.js"></script>