<head>
  <div class="title">
      <title>Noble Brewer</title>
  </div>
  <% include ./partials/head %>

<% include ./partials/header %>

<section class="patterned row centered-block">
	<h3>THE BEST CRAFT BEERS COME FROM HOMEBREWERS.</h3>
	<p>Become a member of Noble Brewer to try our award winning brewers' best beers.</p>
    <a class="btn btn-nb" id="get-beer-top" href="/subscription">View Subscription Options</a>
</section>

<section class="row centered-block">
	<h3>What our members are saying</h3>
	<div class="row">
		<blockquote class="col-md-4">
			<p>Trying my first of my Noble Brewer subscription! Wonderful!</p>
		</blockquote>
		<blockquote class="col-md-4">
			<p>Bright and crisp with a sweet buttery finish. Mosaic is definitely stand alone worthy.This is a superb IPA! Glad I found out about Noble Brewer beer club!</p>
		</blockquote>
		<blockquote class="col-md-4">
			<p>First of the Noble Brewers! #greatpurchase</p>
		</blockquote>
	</div>
</section>

<section class="light-alt-base row centered-block">
	<h3>What is Noble Brewer?</h3>
	<br><br>
	<div class="col-md-4 col-sm-12">
        <p>Noble Brewer is a new kind of beer club. We're dedicated to celebrating the pioneers of the the craft beer movement - the homebrewer. Savor their unique creations while you learn about the person who created the beer.</p>
        <a href="beers/">View our beers >></a>
    </div>
    <div class="col-md-4 col-sm-12">
   		<img src="/images/home/brewing_hops.png" class="img-responsive tan-border">
    </div>
    <div class="col-md-4 col-sm-12">
        <p>We find the best homebrew recipes and pair the creator with a professional brewery to make their beer. Once bottled, we ship the beer and the story behind the featured homebrewer to our members. The end result is unique, one-of-a-kind craft beers unavailable in stores or restaurants.</p>
        <a href="/about">Find out more about our process >></a>
    </div>
</section>

<section class="row gold-wool centered-block">
	<h4>Our current batch</h4>
	<div class="col-md-3 col-sm-12">
   		<img src="/images/beer/nevermore-edited.png" class="img-responsive tan-border">
   		<p>Some stuff about the Beer here. </p>
    </div>
    <div class="col-md-3 col-sm-12">
   		<img src="/images/beer/nevermore-edited.png" class="img-responsive tan-border">
   		<p>Some stuff about the Beer here. </p>
    </div>
    <div class="col-md-3 col-sm-12">
   		<img src="/images/beer/nevermore-edited.png" class="img-responsive tan-border">
   		<p>Some stuff about the Beer here. </p>
    </div>
    <div class="col-md-3 col-sm-12">
   		<img src="/images/beer/nevermore-edited.png" class="img-responsive tan-border">
   		<p>Some stuff about the Beer here. </p>
    </div>
</section>

<section class="patterned centered-block">
	<p>Our members are shipped 4 new beers per quarter.</p>
	<a class="btn btn-nb" id="get-beer-top" href="/subscription">Find out more</a>

</section>

<!-- - Hoppy! I like this
- Love tasting the indies and marking my thoughts. Thank you Noble Brewer.
- Borderline too hoppy but I like it. Delicious.
- Big hop. Really clean
- This is my type of beer
- Mosaic shines in this single hop IPA.
- First of the Noble Brewers! #greatpurchase -->

<% include ./partials/footer %>
