<head>
  <div class="title">
      <title>Noble Brewer</title>
  </div>

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='80367997-11',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
  
<% include ./partials/head %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<% include ./partials/header %>

<!-- Facebook Conversion Code for home page visits -->
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6034253034193', {'value':'0.00','currency':'USD'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6034253034193&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<section class="gold-wool centered-block">
	<h4>Digg users get 10% off with the code DiggBeer</h4>
</section>

<section class="patterned row centered-block">
	<div class="col-md-6">
		<h3>THE BEST CRAFT BEERS COME FROM HOMEBREWERS.</h3>
		<p>Become a member of Noble Brewer to try our award winning brewers' best beers.</p>	
	    <a class="btn btn-nb auto-height" id="view-subscriptions" href="/subscription">View Subscription Options</a>
    </div>
    <div class="col-md-6 centered-block">
		<img class="img-responsive" src="/images/about/aboutbanner-crop.jpg">
	</div>
</section>

<section class="row centered-block">
	<h3>What our members are saying on Untappd</h3>
	<div class="row hidden-sm hidden-xs">
		<blockquote class="col-md-4">
			<p>Trying my first of my Noble Brewer subscription! Wonderful!</p>
		</blockquote>
		<blockquote class="col-md-4">
			<p>Bright and crisp with a sweet buttery finish. Mosaic is definitely stand alone worthy.This is a superb IPA! Glad I found out about Noble Brewer beer club!</p>
		</blockquote>
		<blockquote class="col-md-4">
			<p>First of the Noble Brewers! #greatpurchase</p>
		</blockquote>
	</div>
	<div class="row">
		<blockquote class="col-md-6">
			<p>Love tasting the indies and marking my thoughts. Thank you Noble Brewer.</p>
		</blockquote>
		<blockquote class="col-md-6">
			<p>Not even mad I'm still doing work right now, that's how fucking good this is.</p>
		</blockquote>
	</div>
	<div class="row">
		<blockquote class="col-md-4">
			<p>Not usually a big fan of chocolate porters...but this is fucking delicious!</p>
		</blockquote>
		<blockquote class="col-md-4">
			<p>Hoppy! I like this</p>
		</blockquote>
		<blockquote class="col-md-4">
			<p>Whoa. Wtf. More chocolate than hot chocolate. Need more. 5 stars</p>
		</blockquote>
	</div>
</section>

<section class="light-alt-base row centered-block">
	<h3>What is Noble Brewer?</h3>
	<br><br>
	<div class="col-md-4 col-sm-12">
        <p>Noble Brewer is a new kind of beer club. We're dedicated to celebrating the pioneers of the the craft beer movement - the homebrewer. Savor their unique creations while you learn about the person who created the beer.</p>
        <a href="beers/">View our beers >></a>
    </div>
    <div class="col-md-4 col-sm-12 top-buffer">
   		<img src="/images/home/brewing_hops.png" class="img-responsive tan-border">
    </div>
    <div class="col-md-4 col-sm-12">
        <p>We find the best homebrew recipes and pair the creator with a professional brewery to make their beer. Once bottled, we ship the beer and the story behind the featured homebrewer to our members. The end result is unique, one-of-a-kind craft beers unavailable in stores or restaurants.</p>
        <a href="/about">Find out more about our process >></a>
    </div>
    <br>
</section>

<section class="row gold-wool centered-block">
	<h3>Our current batch</h3>
	<div class="row hr-light-thin"></div>
	<div class="col-md-3 col-sm-6 hr-light-thin">
		<h4>Nevermore Chocolate Porter</h4>
   		<img src="/images/beer/nevermore-edited.png" class="img-responsive tan-border">
   		<p>“This is an insane amount of chocolate for a beer” –Kyle, head brewer at EJ Phair</p>
    </div>
    <div class="col-md-3 col-sm-6 hr-light-thin">
    	<h4>Wry Rye Imperial IPA</h4>
   		<img src="/images/beer/wry-edited.png" class="img-responsive tan-border">
   		<p>Hopped with Amarillo, Chinook, Citra, Falconer’s Flight, Galaxy, Nelson Sauvin and Simcoe, this Imperial IPA is any hop head's must-have.</p>
    </div>
    <div class="col-md-3 col-sm-6 hr-light-thin">
    	<h4>Pipe in a Sack Scotch Ale</h4>
   		<img src="/images/beer/scotch-edited.png" class="img-responsive tan-border">
   		<p>A traditional Wee Heavy, expect intense malt and caramel flavors with hops taking a back seat in flavor in this Scottish classic.</p>
    </div>
    <div class="col-md-3 col-sm-6 hr-light-thin">
    	<h4>Yerba Buena Mosaic IPA</h4>
   		<img src="/images/beer/mosaic-edited.png" class="img-responsive tan-border">
   		<p>Mosaic shines with a fruity hop dominant performance balanced by slight sweetness from honey malts.</p>
    </div>
</section>

<section class="patterned centered-block row">
	<div class="col-md-8">
		<h4>Four new beers, delivered every quarter. </h4>
		<h4>The only craft beer club of its kind.</h4>
		<h4>Join the new craft beer movement.</h4>
		<br>
		<a class="btn-nb auto-height" id="find-out-more" style="width:100%" href="/subscription">Find Out More</a>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="https://j.gifs.com/m22LaP.gif"><br>
	</div>
</section>

<!-- <section class="light-alt-base centered-block">
	<h4>Digg users get 10% off with the code DiggBeer</h4>
</section> -->

<div class="modal fade" id="diggModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div> -->
			<div class="modal-body centered-block">
				<h4 class="hidden-sm hidden-xs" style="text-transform:none">Today only, get</h4>
				<h4 class="hidden-md hidden-lg" style="text-transform:none; font-size:1em">Today only, get</h4>
				<h1 class="gold-big hidden-xs hidden-sm">20% off</h1>
				<h1 class="gold-big hidden-lg hidden-md" style="font-size:3em">20% off</h1>
				<h4 class="hidden-xs hidden-sm" style="text-transform:none">your first purchase when you subscribe to receive email updates</h4>
				<h4 class="hidden-md hidden-lg" style="text-transform:none; font-size:1em">your first purchase when you subscribe to receive email updates</h4>
				<div class="row centered-block">
					<div class="col-md-12">
						<input class="full-width" type="email" placeholder="Enter your email address here" id="email">	
					</div>
					<div class="col-md-12">
						<button class="btn-nb full-width" id="submit-email-digg" type="button">Submit</button>
					</div>
				</div>	
			</div>
			<div class="modal-footer">
				<a id="no-thanks" data-dismiss="modal">No thanks, 10% is enough for me</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="promoModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body centered-block">
				<h4>Use coupon</h4>
				<h1 class="tan-header">diggbeer20</h1>
				<h4>when checking out to receive your discount!</h4>
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal">Close</a>
			</div>
		</div>
	</div>
</div>

 <script type="text/javascript">
	$(function() {
	    setTimeout(function() {
	        $('#diggModal').modal('show');
	    }, 18000);
	})
</script>

<script src="/javascripts/sendToHubspot.js"></script>

<% include ./partials/footer %>
