<head>
  <div class="title">
    <title>Fun Stuff</title>
  </div>
  <% include ./partials/head %>
  <link href="/styles/market.css" rel="stylesheet">
</head>

<% include ./partials/header %>
<% include ./partials/categories %>

<section class="row">
	<h3 class="centered-block">Noble Brewer Samplers</h3>
</section>

<section class="row patterned">
	<div class="col-md-6 gift large">
		<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/noble-brewer-sampler">
			<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/6_Sampler_large.jpg?v=1445813497">
			<p class="centered-block" style="text-transform:uppercase">Noble Brewer Sampler Pack - Try them all</p>
		</a>
	</div>
	<div class="col-md-6">
		<div class="col-md-6">
			<div class="row gift small">
				<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/nonipa-sampler-pack-aka-hops-are-the-devil-pack">
					<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/4_NoIPA_large.png?v=1450236492">
					<p class="centered-block">IPAs not included</p>
				</a>
			</div>
			<br>
<!-- 			<div class="row gift small">
				<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/porter-sampler-pack">
					<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/2_Porter_large.png?v=1450236342">
					<p class="centered-block">Porter Sampler Pack</p>
				</a>
			</div> -->
		</div>
		<div class="col-md-6">
			<div class="row gift small">
				<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/ipa-sampler">
					<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/4_IPA_large.png?v=1449792525">
					<p class="centered-block">IPA Sampler Pack</p>
				</a>
			</div>
			<div class="row gift small">

			</div>
		</div>
	</div>
</section>

<!-- <section class="row centered-block">
	<h3></h3>
	<div class="featured-item">
	</div>
	<p class="top-buffer"></p>
</section>

<section class="patterned row">
	<div class="row centered-block">
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
	</div> -->
<!-- 	<div class="row centered-block">
		<div class="col-md-3">
			<div class="item-square">
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
	</div> -->
</section>

<% include ./partials/footer %>