<head>
  <div class="title">
    <title>Fun Stuff</title>
  </div>
  <% include ./partials/head %>
  <link href="/styles/market.css" rel="stylesheet">
</head>

<% include ./partials/header %>
<% include ./partials/categories %>

<section class="row">
	<h3 class="centered-block">Gift Beer</h3>
</section>

<section class="row patterned">
	<div class="col-md-6 gift large">
		<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/8-beer-gift-subscription-1-year-of-beer">
			<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/4beers-whitebackground-small_3c65f3d2-736d-46d3-9d68-c4cd86dedaf7_large.png?v=1445815000">
			<p class="centered-block" style="text-transform:uppercase">8 Beer Gift Subscription - 1 year of Beer</p>
		</a>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6 gift small">
				<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/4-beer-gift-subscription-6-months-of-beer">
					<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/4beers-whitebackground-small_3c65f3d2-736d-46d3-9d68-c4cd86dedaf7_large.png?v=1445815000">
					<p class="centered-block">4 Beer Gift - 6 Months of Beer</p>
				</a>
			</div>
			<div class="col-md-6 gift small">
				<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/4-beer-gift-subscription-1-year-of-beer">
					<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/4beers-whitebackground-small_3c65f3d2-736d-46d3-9d68-c4cd86dedaf7_large.png?v=1445815000">
					<p class="centered-block">4 Beer Gift - 1 Year of Beer</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 gift small">
<!-- 				<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/4-beer-gift-subscription-1-year-of-beer">
					<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/4beers-whitebackground-small_3c65f3d2-736d-46d3-9d68-c4cd86dedaf7_large.png?v=1445815000">
					<p class="centered-block">4 Beer Gift - 1 Year of Beer</p>
				</a> -->
			</div>
			<div class="col-md-6 gift small">

			</div>
		</div>
	</div>
</section>

<!-- <section class="row centered-block">
	<h3></h3>
	<div class="featured-item">
	</div>
	<p class="top-buffer"></p>
</section>

<section class="patterned row">
	<div class="row centered-block">
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
	</div> -->
<!-- 	<div class="row centered-block">
		<div class="col-md-3">
			<div class="item-square">
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">

			</div>
		</div>
	</div> -->
</section>

<% include ./partials/footer %>