<head>
  <div class="title">
    <title>Fun Stuff</title>
  </div>
  <% include ./partials/head %>
  <link href="/styles/market.css" rel="stylesheet">
</head>

<% include ./partials/header %>
<% include ./partials/categories %>

<section class="row centered-block">
	<h3 class="centered-block">Noble Brewer Marketplace</h3>
	<br>
	<p class="col-md-6 col-md-offset-3" style="font-size:.9em">Here are some fun items from the world of beer, some we may have been paid to sponsor or may receive other forms of compensation. Let us know of other cool products to showcase, especially if they're your own!</p>
</section>

<section class="row patterned">
	<div class="col-md-6 gift large">
		<a href="http://www.amazon.com/gp/product/B00UU8M2R6/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00UU8M2R6&amp;linkCode=as2&amp;tag=noble028-20&amp;linkId=HTWH26FPGGPSDC4A" rel="nofollow" target="_blank">
			<img class="gift-img centered-block" src="http://bit.ly/1aLs4jU" alt="" />
			<p class="centered-block" style="text-transform:uppercase">Beer Cap Map</p>
		</a>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6 gift small">
				<a href="http://www.amazon.com/gp/product/B00GXVF0XC/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00GXVF0XC&amp;linkCode=as2&amp;tag=noble028-20&amp;linkId=3LYYOLG6UAFF72KV" rel="nofollow" target="_blank">
					<img class="gift-img centered-block" src="http://bit.ly/1QQzJ22" alt="" />
					<p class="centered-block" style="text-transform:uppercase">Mini Beer Pong</p>
				</a> 
			</div>
			<div class="col-md-6 gift small">
				<a href="http://www.amazon.com/gp/product/B00BTQKP3Q/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00BTQKP3Q&amp;linkCode=as2&amp;tag=noble028-20&amp;linkId=XZUZB7WBJ6OFBHDB" rel="nofollow" target="_blank">
					<img class="gift-img centered-block" src="http://res.cloudinary.com/noblebrewer/image/upload/v1450316492/d0usnnqhgsibmxnc42v7.png" alt="" />
					<p class="centered-block" style="text-transform:uppercase">Shakoolie #showerbeer</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 gift small">
				<a href="http://www.amazon.com/gp/product/B005G20IIG/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B005G20IIG&amp;linkCode=as2&amp;tag=noble028-20&amp;linkId=KF2O56SJ2NDCZQCH" rel="nofollow" target="_blank">
					<img class="gift-img centered-block" src="http://bit.ly/1YiRYQ4" alt="" />
					<p class="centered-block" style="text-transform:uppercase">Brooklyn Beer Making Kits</p>
				</a>
			</div>
			<div class="col-md-6 gift small">
				<a href="http://www.amazon.com/gp/product/B00ESLSWUW/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00ESLSWUW&amp;linkCode=as2&amp;tag=noble028-20&amp;linkId=GY3XW6YGYFHB6SA4" rel="nofollow" target="_blank">
					<img class="gift-img centered-block" src="http://bit.ly/1MWDZeY" alt="" />
					<p class="centered-block" style="text-transform:uppercase">6-pk Bicycle Carrier</p>
				</a>
				<img style="border: none !important; margin: 0px !important;" src="http://ir-na.amazon-adsystem.com/e/ir?t=noble028-20&amp;l=as2&amp;o=1&amp;a=B00ESLSWUW" alt="" width="1" height="1" border="0" />
			</div>
		</div>
	</div>
</section>

<section class="row centered-block">
	<h3>Featured Product</h3>
	<h4>KegWorks Growler On Board Beer Transport Unit - Holds 3 Growlers</h4>
	<div class="featured-item top-buffer">
		<a class="col-md-6" href="http://www.amazon.com/gp/product/B00AQMZBRE/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00AQMZBRE&amp;linkCode=as2&amp;tag=noble028-20&amp;linkId=YRBHSMVRQP7YSYD5" rel="nofollow" target="_blank">
			<img class="gift-img centered-block" src="http://bit.ly/1kIskpy" alt="" />
			<p>View more...</p>
		</a>
		<p class="top-buffer col-md-6">Forget about the Baby on Board bumper sticker. Now you can finally protect your most precious cargo with the KegWorks Growler On Board Growler Carrier! Stop letting your growlers full of delicious draft beer clank around in the backseat or trunk of your car. This low-density foam growler carrier is a lightweight beer transport solution that you'll wonder how you ever lived without.</p>
	</div>
</section>

<section class="patterned row">
	<div class="row centered-block">
		<h4>Other awesome stuff</h4>
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://www.amazon.com/gp/product/0307886921/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0307886921&linkCode=as2&tag=noble028-20&linkId=AWTX6GUZGVD7MGVA">
					<img class="gift-img centered-block" src="http://ecx.images-amazon.com/images/I/51DygNk6nQL.jpg" alt="" />
					<p class="centered-block" style="text-transform:uppercase">Color me drunk</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://www.amazon.com/gp/product/B000HJVYDQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000HJVYDQ&linkCode=as2&tag=noble028-20&linkId=YIFAJP3DAEXD2ZLQ" target="_blank">
					<img class="gift-img centered-block" src="http://ecx.images-amazon.com/images/I/71aGbXYK89L._SL1500_.jpg" alt="" />
					<p class="centered-block" style="text-transform:uppercase">Full Size Kegorator</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://www.amazon.com/gp/product/B008MHDENS/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B008MHDENS&linkCode=as2&tag=noble028-20&linkId=4V5EH5JXFSQ52GMK" target="_blank">
					<img class="gift-img centered-block" src="http://ecx.images-amazon.com/images/I/81CFIrGYpzL._SL1500_.jpg" alt=""/>
					<p class="centered-block" style="text-transform:uppercase">Periodic Table of Beer</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://www.amazon.com/gp/product/B00V6Z8IBQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00V6Z8IBQ&linkCode=as2&tag=noble028-20&linkId=GSCEP7H6SWA3AKMM" target="_blank">
					<img class="gift-img centered-block" src="http://ecx.images-amazon.com/images/I/71ywDRa0mdL._SL1365_.jpg" alt=""/>
					<p class="centered-block" style="text-transform:uppercase">Stainless Steel Growler</p>
				</a>
			</div>
		</div>
	</div>
	<div class="row centered-block top-buffer">
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://shrsl.com/?~auxr" target="_blank">
					<img class="gift-img centered-block" src="https://s3.amazonaws.com/images1.vat19.com/covers/large/beer-pouch-sweatshirt.jpg" alt=""/>
					<p class="centered-block" style="text-transform:uppercase">Beer Pouch Sweatshirt</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://shrsl.com/?~auxv" target="_blank">
					<img class="gift-img centered-block" src="http://cdn.shopify.com/s/files/1/0930/6458/products/5445-brown-leather-koozie-family-name25709_large.jpeg?v=1444257801" alt=""/>
					<p class="centered-block" style="text-transform:uppercase">Personalized Beer Koozie</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://shrsl.com/?~auxw" target="_blank">
					<img class="gift-img centered-block" src="http://www.homewetbar.com/images/prod/2863-beer-glass-box-set-181756.jpg" alt=""/>
					<p class="centered-block" style="text-transform:uppercase">Custom Brewery Glass Set</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-square">
				<a rel="nofollow" href="http://www.amazon.com/gp/product/B001ATWH60/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001ATWH60&linkCode=as2&tag=noble028-20&linkId=EVKCCHEHBNQE3XTQ" target="_blank">
					<img class="gift-img centered-block" src="http://ecx.images-amazon.com/images/I/61uCUOsqg5L._SL1000_.jpg" alt="" />
					<p class="centered-block" style="text-transform:uppercase">NFL Beer Stein</p>
				</a>
			</div>
		</div>
	</div>
	<div class="row centered-block top-buffer">
		<div class="col-md-6">
			<div class="item-square">
				<a rel="nofollow" href="http://shrsl.com/?~auxx" target="_blank">
					<img class="gift-img centered-block" src="http://www.homewetbar.com/images/prod/5497-blackout-beer-growler-131676.jpg" alt=""/>
					<p class="centered-block" style="text-transform:uppercase">Custom Black Growler</p>
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="item-square">
				<a rel="nofollow" href="http://shrsl.com/?~auxz" target="_blank">
					<img class="gift-img centered-block" src="http://www.homewetbar.com/images/prod/5368-chalkboard-tap-handle_single_initial20644.jpg" alt=""/>
					<p class="centered-block" style="text-transform:uppercase">Custom Chalk Tap Handle</p>
				</a>
			</div>
		</div>
	</div>
</section>

<% include ./partials/footer %>