<head>
  <div class="title">
      <title>Noble Brewer Membership VIP Signup</title>
  </div>
  <% include ./partials/head %>
</head>


<div class="container-fluid">
<% include ./partials/header %>
	<section class="row" id="vip">
		<!-- <h3>It's nice to have friends...</h3> -->
		<% if (data.first_name) { %>
			<h3><%= data.first_name %> got you VIP status</h3>
			<p>Our waiting list is currently over a thousand people. That is sad for some, but not for you! You get to go to the front of the line.</p>
		<% } else { %>
			<h3>You've got VIP status!</h3>
			<p>Our waiting list is currently over a thousand people. That is sad for some, but not for you! You get to go to the front of the line.</p>
		<% } %>
	</section>
	<section class="row patterned">
		<div id="mc_embed_signup" class="col-md-6 col-md-offset-3">
			<form action="//noblebrewer.us12.list-manage.com/subscribe/post?u=b22a9bf5b06462efd0a134c79&amp;id=919505a29c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		        <div id="mc_embed_signup_scroll">
		      	<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
		      	<div class="mc-field-group">
		        	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
		      		</label>
		          	<input type="email" value="" name="EMAIL" class="required" id="mce-EMAIL">
		      	</div>
		      	<div class="mc-field-group col-md-6 left-input">
			        <label for="mce-FNAME">First Name </label>
			        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
		      	</div>
		      	<div class="mc-field-group col-md-6 right-input">
		          	<label for="mce-LNAME">Last Name </label>
		          	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
		      	</div>
		      	<div class="mc-field-group">
		        	<label for="mce-REFERRAL">Noble Brewer Member Email </label>
		        	<input type="text" value="<%= data.member_email %>" name="REFERRAL" class="" id="mce-REFERRAL" readonly>
		    	</div>
		      	<div class="mc-field-group">
		          	<label for="mce-STATE">Select State:  <span class="asterisk" style="top:0px">*</span>
		      		</label><br>
		          	<select name="STATE" class="required" id="mce-STATE">
			          	<option value=""></option>
			          	<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AR">AR</option>
						<option value="AZ">AZ</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DC">DC</option>
						<option value="DE">DE</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="IA">IA</option>
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="MA">MA</option>
						<option value="MD">MD</option>
						<option value="ME">ME</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MO">MO</option>
						<option value="MS">MS</option>
						<option value="MT">MT</option>
						<option value="NC">NC</option>
						<option value="ND">ND</option>
						<option value="NE">NE</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>
						<option value="NV">NV</option>
						<option value="NY">NY</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VA">VA</option>
						<option value="VT">VT</option>
						<option value="WA">WA</option>
						<option value="WI">WI</option>
						<option value="WV">WV</option>
						<option value="WY">WY</option>
		        	</select>
		      	</div>
		      	<div class="mc-field-group hidden">
					<label for="mce-CONVERT">Convert </label>
					<input type="text" value="member" name="CONVERT" class="" id="mce-CONVERT">
				</div>
				<div id="mce-responses" class="clear">
				  	<div class="response" id="mce-error-response" style="display:none"></div>
				  	<div class="response" id="mce-success-response" style="display:none"></div>
				</div>     
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
		        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b22a9bf5b06462efd0a134c79_919505a29c" tabindex="-1" value=""></div>
		        <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn-nb" style="margin-left:0"></div>
		        </div>
			</form>
		</div>
		<div style="display:none">
			<input id="utm_source" type="text" value="<%= data.utm_source %>"></input>
		</div>
	</section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/javascripts/member_referral.js"></script>