<head>
  <div class="title">
    <title>Press</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<section id="press-banner">
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h1>News and Press</h1>
        <hr width="170" align="left">

        <p class="press-date">July 27 2015</p>
        <p class="press-article"><a href="http://fortune.com/2015/06/27/craft-beer-businesses/" target="_blank">HERE'S HOW TO MAKE MONEY OFF YOUR HOMEBREWED BEER</a></p>
        <p class="press-source">Fortune</p>

        <p class="press-date">July 24 2015</p>
        <p class="press-article"><a href="http://www.tastingtable.com/drinks/national/noble-brewer-homebrewer-online-craft-beer-club" target="_blank">GET HARD TO FIND HOMEBREWERS BEERS SHIPPED TO YOUR DOOR</a></p>
        <p class="press-source">Tasting Table</p>

        <p class="press-date">May 20 2015</p>
        <p class="press-article"><a href="http://www.liquidbreadmag.com/noble-brewers/" target="_blank">NOBLE BREWER BRINGS BIG BEER DISTRIBUTION TO HOMEBREWERS</a></p>
        <p class="press-source">Liquid Bread</p>

        <p class="press-date">April 17 2015</p>
        <p class="press-article"><a href="http://www.urbandaddy.com/ntl/fooddrink/34489/Noble_Brewer_These_Guys_Will_Send_You_a_Bunch_of_Homebrews_National_NTL_Service" target="_blank">HOPS TO IT</a></p>
        <p class="press-source">Urban Daddy</p>

      </div>
      <div class="col-md-3 col-md-offset-1">
        <h3>Inquiries</h3>
        <hr width="170" align="left">
        <a href="mailto:press@noblebrewerbeer.com">press@noblebrewerbeer.com</a> 
      </div>

    </div>
  </div>
</section>

<% include ./partials/footer %>
