<head>
  <div class="title">
      <title>Press</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>


<!-- content goes here -->



<% include ./partials/footer %>
