<head>
  <div class="title">
      <title><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>


<!-- content goes here -->



<% include ./partials/footer %>
