<head>
  <div class="title">
    <title>Press</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<section id="press-banner">
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h1>News and Press</h1>
        <hr width="170" align="left">

        <p class="press-date">August 4 2015</p>
        <p class="press-article"><a href="http://yfsmagazine.com/2015/07/14/entrepreneurs-reveal-13-online-tools-they-cant-live-without/" target="_blank">THE 10 TRICKS THAT WILL MAKE YOU APPEAR SMARTER IN MEETINGS</a></p>
        <p class="press-source">Fast Company</p>

        <p class="press-date">July 14 2015</p>
        <p class="press-article"><a href="http://yfsmagazine.com/2015/07/14/entrepreneurs-reveal-13-online-tools-they-cant-live-without/" target="_blank">Entrepreneurs Reveal 13 Online Tools They Can’t Live Without</a></p>
        <p class="press-source">YFS magazine</p>

        <p class="press-date">May 20 2015</p>
        <p class="press-article"><a href="http://yfsmagazine.com/2015/07/14/entrepreneurs-reveal-13-online-tools-they-cant-live-without/" target="_blank">NOBLE BREWER BRINGS BIG BEER DISTRIBUTION TO HOME Brewers</a></p>
        <p class="press-source">Liquid Bread</p>

        <p class="press-date">May 11 2015</p>
        <p class="press-article"><a href="http://yfsmagazine.com/2015/07/14/entrepreneurs-reveal-13-online-tools-they-cant-live-without/" target="_blank">NOBLE BREWER BRINGS BIG BEER DISTRIBUTION TO HOME Brewers</a></p>
        <p class="press-source">Liquid Bread</p>

      </div>
      <div class="col-md-3 col-md-offset-1">
        <h3>Inquiries</h3>
        <hr width="170" align="left">
        <a href="mailto:press@noblebrewerbeer.com">press@noblebrewerbeer.com</a> 
      </div>

    </div>
  </div>
</section>

<% include ./partials/footer %>


// how to simultaneously preview multiple sizes
// git diff on dif versions
// font issue

<!-- 
// news = 40pt
// inquiries = 28pt 
-->
