<head>
  <div class="title">
      <title>Privacy Policy</title>
  </div>
  <% include ./partials/head %>
</head>

<% include ./partials/header %>

<section id="legal-banner">
</section>

<section>
	<div class="container">
        <div class="row">
            <br>
            <div class="col-md-3" id="legal-link-group">
                <a class="legal-link" href="/terms">Terms of service</a>
                <a class="legal-link legal-link-active" href="/privacy">Privacy policy</a>
                <a class="legal-link" href="/shipping">Shipping policy</a>
                <a class="legal-link" href="/return">Return policy</a>
            </div>
            <div class="col-md-7">
                  <h1>PRIVACY POLICY</h1>
                  <br>
                  <p class="body-copy">This privacy policy ("Privacy Policy") explains how Noble Brewer Beer Company, Inc., its affiliates
                  (collectively "Noble Brewer") use the information you provide to us that personally identifies you
                  ("Personal Information"). Please read this Privacy Policy carefully. If you do not agree to our
                  practices, please do not register, subscribe, create an account, or otherwise interact with Noble
                  Brewer. By visiting the Website, you accept the practices described in this Privacy Policy.
                  <br>
                  <br>
                  Information Collection
                  Noble Brewer collects Personal Information to customize the content and/or layout of the Website for
                  each member and to contact members regarding their accounts. If a member chooses to place an
                  order through the Website, we collect additional information including, but not limited to, the
                  member's billing address, shipping address, date of birth, date of order, and product ordered
                  ("Transaction Information").
                  <br>
                  Use and Disclosure of Information, and Opt-Out Procedure
                  <br>
                  Noble Brewer may disclose Personal Information if it is required to do so by law or if disclosing
                  Personal Information is vital to identify, contact, or bring legal action in order to protect Noble
                  Brewer, its customers, or third parties. In addition, Personal Information that you provide to us (such
                  as your name, address and email address) may be combined with other personally identifiable
                  information (such as demographic information and past Transaction Information) available from our
                  records and other sources. This information will be used to make our future marketing efforts more
                  efficient. This information may also be shared with our third party service providers that assist us
                  with our marketing efforts and with other marketers whose products or services we feel may be of
                  interest to you. If you prefer that we do not share your personally identifiable information with other
                  marketers, please email us at support@NobleBrewer.com. In the event that you choose to opt
                  out as set forth above, please note that the following three paragraphs will still apply:
                  <br>
                  Transaction Information will be shared with the merchant from whom the purchase is made, and may
                  be provided to other trusted third parties as necessary to process and fulfill the order, and to help
                  enable Noble Brewer to provide better member services and offerings. All such merchants and third
                  parties are contractually obligated to keep all Transaction Information confidential, maintain the
                  privacy of all Noble Brewer members, and to use such Transaction Information only to provide
                  services to Noble Brewer for the benefit of Noble Brewer and its members. Transaction Information
                  may also be used to develop a personalized profile and shopping history for each member in order
                  to customize promotions, updates or special offers.
                  <br>
                  From time to time, we may employ other companies and individuals to perform services, to maintain
                  and operate the Website, and to maintain certain features on the Website. To such parties, we may
                  disclose Non-Personal Information such as traffic patterns and Website usage data, but such
                  information will not include Personal Information. We also may employ reputable third parties to
                  analyze our sales data for internal analysis, during which we may disclose Personal Information
                  such as the length of membership, additional purchases and location of shipment.
                  We additionally may enlist a third party to assist with marketing and sending member e-mails; in this
                  case, we will provide these third party vendors only with member e-mail addresses. These third 
                  parties will not receive or be given access to other Personal Information (such as Noble Brewer
                  member home addresses, phone numbers, or date of birth) unless Noble Brewer is required to do so
                  by law or unless disclosing such Personal Information is vital to identify, contact, or bring legal action
                  in order to protect Noble Brewer, its customers, or third parties.
                  <br>
                  Cookies and Web Beacons
                  <br>
                  When you visit the Website, our service providers may place cookies on your computers or mobile
                  devices. A cookie is a small amount of information that a web server sends to your browser that
                  stores information about your account, preferences and use of the Website. Cookies allow us to
                  recognize you when you return and track and target your interests in order to provide a customized
                  experience. They also help us to detect certain kinds of fraud. We use cookies to store a member's
                  preferences, record session information, record member-specific information on what pages are
                  accessed or visited, alert members to new areas that we think might be of interest to them when
                  they return to our Website, or customize web page content based on browser type or other
                  information that the member sends.
                  "Session" cookies are temporary cookies used for various reasons, such as managing page views
                  and your shopping cart. Typically, your browser will erase session cookies once you exit the
                  browser. "Persistent" cookies are more permanent cookies that are stored on your computer or
                  mobile device after you exit the browser. Persistent cookies allow us to retrieve certain information
                  that you have previously provided to us (for example, your user ID if you ask to be remembered).
                  The Noble Brewer Website uses both session and persistent cookies.
                  <br>
                  Privacy Practices of Third Parties
                  <br>
                  Our Website may contain links to third party websites, products, and services. These websites may
                  include but are not limited to breweries, brewing resources, brewing supply stores or social media
                  websites such as Facebook and Twitter. Information collected by these third party websites is
                  governed by their privacy practices and is not subject to this privacy policy. We are not responsible
                  for how these third party websites collect, use, disclose, distribute, or maintain Personal and NonPersonal
                  Information. If you visit a third party website listed on the Noble Brewer Website, you do so
                  at your own risk. We encourage you to learn about the privacy practices of those third parties prior to
                  providing them with an information or taking advantage of an offer or promotion.
                  <br>
                  Noble Brewer Social Media Content
                  <br>
                  We are not responsible for protecting any Personal Information that you post on our blog or on social
                  media web pages associated with Noble Brewer. Although we reserve the right to monitor any
                  postings, all Personal Information that is posted on these websites is unprotected and can be seen
                  by anyone with access to the specific website.
                  <br>
                  Protection of Your Information
                  <br>  
                  We take many precautions to safeguard your Personal Information, Non-Personal Information, and
                  Transaction Information against loss, theft, and misuse, as well as against unauthorized access, 
                  disclosure, alteration, and destruction. In addition to administrative and physical protective
                  measures, we use Secure Sockets Layer (SSL) encryption on all web pages where Personal
                  information is collected. For this reason, in order to complete a protected transaction, you must use
                  a SSL-enabled browser to access the Website. Safari, Firefox, and Internet Explorer are all SSLenabled.
                  Using these types of browsers protects the confidentiality of your Personal Information
                  while it is being transferred over the Internet.
                  When creating an account on our Website, you are required to establish a password. To maximize
                  your level of protection, you should choose a password with at least 6 characters, using a
                  combination of letters and numbers. You are solely responsible for maintaining the secrecy of your
                  password and account information.
                  While Noble Brewer uses standard security procedures and practices relative to safeguarding your
                  Information, no Internet data transaction can be guaranteed as 100% secure. Consequently, while
                  Noble Brewer strives to protect and conserve your Information, we do not guarantee or attest
                  comprehensive security of your Information transmission. If you transmit Information to Noble
                  Brewer, you do so at your own risk.
                  <br>
                  Collection of Information from Minors
                  <br>
                  We do not knowingly collect Personal Information from minors under 21, nor do we direct any of our
                  content to minors under 21. If we learn that we collected the Personal Information of a minor, we will
                  take steps to delete the information as soon as possible. In addition, it is a violation of our terms of
                  service for a minor to access our website.
                  <br>
                  E-mail Opt Out
                  <br>
                  Customers who have elected to receive Noble Brewer's newsletter can choose to opt-out at any time
                  by clicking on the "Unsubscribe" link at the bottom of any newsletter. Further questions or comments
                  regarding privacy can be directed to support@NobleBrewer.com.
                  <br>
                  Changes to Privacy Policy
                  <br>
                  From time to time, Noble Brewer will, in its own discretion, update its privacy policy with or without
                  prior notice. If our information practices change at some time in the future, we will post the policy
                  changes to our website to notify you of these changes. If you are concerned about how your
                  information is used, you should check our website periodically. Your continued use of the Noble
                  Brewer website amounts to your agreement to comply with and obey the terms of our most recent
                  Privacy Policy. If you object to any of the terms, you can cease to use the Noble Brewer website.
                  </p>
            </div>
        </div>
	</div>
</section>
<% include ./partials/emailFooter %>
<% include ./partials/footer %>
