<head>
  <div class="title">
      <title>Shipping Policy</title>
  </div>
  <% include ./partials/head %>
</head>

<% include ./partials/header %>

<section id="legal-banner">
</section>

<section>
	<div class="container">
        <div class="row">
            <br>
            <div class="col-md-3" id="legal-link-group">
                <a class="legal-link" href="/terms">Terms of service</a>
                <a class="legal-link" href="/privacy">Privacy policy</a>
                <a class="legal-link legal-link-active" href="/shipping">Shipping policy</a>
                <a class="legal-link" href="/return">Return policy</a>
            </div>
            <div class="col-md-7">
                  <h1>SHIPPING POLICY</h1>
                  <br>
                  <p class="body-copy">We try to ship within two business days of your initial purchase. Our seasonal release shipping dates vary and members will be notified as the beers become ready. Additional shipping terms can be found in the Terms of Service.
                  </p>
            </div>
        </div>
	</div>
</section>
<% include ./partials/emailFooter %>
<% include ./partials/footer %>