{% extends "templates/layouts/default.html" %}

{% block content %}

<section>
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h3 class="tan-header"> Noble Brewer Beer Subscription</h3>
			<div class="body-copy">
				<p>Get impossible-to-find craft beer made from homebrew recipes delivered to your door on a quarterly release schedule.</p>
			</div>
			<hr>
			<div class="body-copy">
				<ul>
					<li>Every shipment contains:</li>
					<li>Four large 22oz bottles of homebrew-inspired beer</li>
					<li>Tasting cards to provide feedback to the homebrewer</li>
					<li>The story behind the recipe creator</li>
				</dl>
			</div>
			<br>
			<a class="btn btn-primary" style="width: 350px; margin-top: auto;margin-bottom: auto; border-radius:4px; padding:20px; text-transform: uppercase; letter-spacing: 1px; font-size:30" href="/customize">Subscribe now</a>
		</div>
		<div class="col-sm-5 col-md-5">
			<img class="img-responsive" src="/images/checkout/kinsu.jpg">
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<img class="img-responsive" style="width:500px" src="/images/checkout/outside.jpg">
		</div>
		<div class="col-md-5">
			<br>
			<br>
			<h3 class="tan-header">Beer according to you</h3>
			<div class="body-copy">
				<p>We listen to our subscribers feedback and find beers to feature that we think our members will like. Your opinions matter!</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<br>
			<br>
			<h3 class="tan-header">Brewed by the best</h3>
			<div class="body-copy">
				<p>All of our beers are brewed by master brewers to guarantee that they can easily stand toe to toe with any other beers on the market.</p>
			</div>
		</div>
		<div class="col-md-5">
			<img class="img-responsive" style="width: 500px" src="/images/checkout/brewer.jpg">
		</div>
	</div>
</section>
<section class="alt-base-section">
	<div class="centered-block">
		<h3>Bold beer from the little guys</h3>
	</div>
</section>
<section>
	<div class="centered-block">
			<a class="btn btn-primary" style="width: 350px; margin-top: auto;margin-bottom: auto; border-radius:4px; padding:20px; text-transform: uppercase; letter-spacing: 1px; font-size:30" href="/customize">Subscribe now</a>
	</div>
</section>

{% endblock %}