{% extends "templates/layouts/default.html" %}

{% block content %}

<section>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<h3 class="tan-header"> Noble Brewer Beer Subscription</h3>
			<div class="body-copy">
				<p>Get impossible-to-find craft beer delivered to your door on a quarterly release schedule.</p>
			</div>
			<hr>
			<div class="body-copy">
				<dl>
					<dt>Every box contains:</dt>
					<dd>- 22oz bottles of homebrew-inpsired beer</dd>
					<dd>- Tasting cards to provide feedback to the homebrewer</dd>
					<dd>- The story behind the creator of the beer recipe</dd>
					<dd>- Cancel anytime.</dd>
				</dl>
			</div>
			<br>
			<a class="btn btn-primary" href="/customize">Subscribe now</a>
		</div>
		<div class="col-sm-6 col-md-6">
			<img class="img-responsive" src="http://www.fillmurray.com/500/300">
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<img class="img-responsive" src="http://www.fillmurray.com/500/300">
		</div>
		<div class="col-sm-6 col-md-6">
			<br>
			<br>
			<h3 class="tan-header">Beer according to you</h3>
			<div class="body-copy">
				<p>We listen to our subscribers feedback and find beers to feature that we think our members will like. Your opinions matter!</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<br>
			<br>
			<h3 class="tan-header">Brewed by the best</h3>
			<div class="body-copy">
				<p>All of our beers are brewed by master brewers to guarantee that they can easily stand toe to toe with any other beers on the market.</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<img class="img-responsive" src="http://www.fillmurray.com/500/300">
		</div>
	</div>
</section>
<section class="alt-base-section">
	<div class="centered-block">
		<h3>Bold beer from the little guys</h3>
	</div>
</section>
<section>
	<div class="centered-block">
			<a class="btn btn-primary" href="/customize">Subscribe now</a>
	</div>
</section>

{% endblock %}