<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Fucking Header 1</h1>
        <h1 class="subheader">Subheader 1</h1>
        <h2>Fucking Header 2</h2>
        <h2 class="subheader">Subheader 2</h2>
        <h3>Fucking Header 3</h3>
        <h3 class="subheader">Fucking Header 3</h3>
        <h4>Fucking Header 4</h4>
        <h4 class="subheader">Fucking Header 4</h4>
      </div>
      <div class="row">
        <p class="lead">Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>

        <p>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>
      </div>

      <div class="row">
        <blockquote>
        <p>Blockquote</p>
        <cite>Blockquote Source</cite>
        </blockquote>

        <small>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</small>
      </div>
      <div class="row">
        <div class="col-md-4">
        <a href="#"><i class="glyphicon glyphicon-star"></i>Click here to learn more</a>
        <a href="#"><i class="glyphicon glyphicon-star"></i>Click here to learn more</a>
        <a href="#"><i class="glyphicon glyphicon-star"></i>Click here to learn more</a>
        </div>
        <div class="col-md-4">
          <button class="btn btn-large">BUTTON TEXT</button>
          <button class="btn btn-large">GHOST BUTTON TEXT</button>
        </div>
      </div>

      <section class="base">
        <p>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>
      </section>

      <section class="light-alt">
        <p>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>
      </section>

      <section class="alt-base">
        <p>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>
      </section>

      <section class="patterned">
        <p>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>
      </section>

      <section class="light-striped">
        <p>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>
      </section>

      <section class="dark-striped">
        <p>Meditation iPhone photo booth chillwave squid. Thundercats Pitchfork tilde, messenger bag cray pork belly ennui aesthetic. Etsy heirloom messenger bag, gastropub beard mustache American Apparel post-ironic. 90's swag blog tousled ethical Etsy. Typewriter Wes Anderson Williamsburg hashtag, Carles ennui kale chips forage locavore. Semiotics next level listicle, PBR iPhone single-origin coffee shabby chic McSweeney's lo-fi actually leggings pork belly. Cardigan meditation cliche Pinterest mlkshk, tofu Kickstarter slow-carb selvage locavore synth four dollar toast fingerstache.</p>
      </section>


      <form class="form">
        <div class="form-group">
          <label for="textytest">Label</label>
          <input type="text" class="form-control" id="textytest" placeholder="Placeholder Text">
        </div>
      </form>

      <hr class="hr-dark"> 
      <hr class="hr-gold"> 
      <hr class="hr-light"> 

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>