<head>
  <div class="title">
      <title>Brewer Sign Up</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<section>
	<div class="row" align="center">
		<h1>Awesome.</h1>
		<p>Thanks for the message! It is on its way to the homebrewer. </p>
		<a href="/brewers">View more brewers</a>
	</div>
</section>

<% include ./partials/footer %>
