<head>
  <div class="title">
      <title>Success!</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<section>
	<div class="row" align="center">
		<h1>Success!</h1>
		<p>Your hint has been dropped! <span><a href="/dropahint">Send another hint</a></span> or <span><a href="/beers">look around some more.</a><span></p>
	</div>
</section>

<% include ./partials/footer %>
