<head>
  <div class="title">
      <title>Brewer Sign Up</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<section>
	<div class="row" align="center">
		<h1>Success!</h1>
		<p>We've got your email and will keep you updated with all the latest Noble Brewer news!</p>
		<a href="/beers">Got it!</a>
	</div>
</section>

<% include ./partials/footer %>
