{% extends "templates/layouts/default.html" %}

{% block intro %}
<section>
    <div class="container">
        <div class="row">
            <div class="centered-block">
                <h1> MEET</h1>
                <h1>THE TEAM</h1>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<section>
      <div class="container">
            <h2>OUR TEAM</h2>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>Claude Burns</h3>
                        <div class="body-copy">
                              <p>Claude Burns finished the World Beer Tour, consisting of 100 different beers at Ram’s Head Tavern in Annapolis, MD, shortly after his 21st birthday. He later had the good fortune of living in two of America’s great beer cities– Seattle and San Diego– while serving on active duty. The one constant for him whether he was deployed on an aircraft carrier or working alongside Navy SEALs was his love and passion for exploring new beers. He’s a homebrewer and the founder of Noble Brewer.</p>
                              <p>Claude holds a B.S. in Physics from the United States Naval Academy and an MBA from the Massachusetts Institute of Technology. Feel free to send him an e-mail at claude@NobleBrewerBeer.com.</p>
                        </div>
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>Lauralynn Stubler</h3>
                        <div class="body-copy">
                              <p>Lauralynn’s years in Colorado indoctrinated her into the craft of homebrewing, where her first attempts at batched brews resulted in basement explosions and flying bottle caps. With an admiration for the art of brewing at home, and a passion for helping founders build their companies, she landed in San Francisco where she founded her own eCommerce company, and advises a number of San Francisco startups on all things growth marketing related.</p>
                              <p>Lauralynn holds a B.S. in Marketing and a B.S. in Business from Adams State College and graduated from the Tradecraft Growth Hacking program in San Francisco. An entrepreneur herself, she loves to meet other marketers and founders over coffee or happy hour. lauralynn@NobleBrewerBeer.com.</p>
                        </div>
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>Anders Houston</h3>
                        <div class="body-copy">
                              <p>He likes to draw dinosaurs, he went to RISD (Rhode Island School of Design), now he makes products and cooks food, sometimes using beer. When he’s not too busy pushing pixels, you can reach him at anders@noblebrewerbeer.com.</p>
                        </div>
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>Cathy Trainor</h3>
                        <div class="body-copy">
                              <p>After discovering “live beer” on the street in Russia, Cathy thought that she’d never find anything else that she loved. This changed when she moved to Washington D.C. and lived around the corner from an amazing craft beer bar called Meridian Pint and a grocery store where Dogfish Head’s Midas Touch was readily available.</p>
                              <p>A graduate from The College of Wooster in Ohio with a B.A. in History, Cathy really enjoys writing about anything from international issues to nerdy beer facts. She finds great joy in building new connections with people and is particularly excited to learn more about the homebrewing community. In her spare time, she is a triathlete and a modern dancer. She is always happy to hear from you at cathy@noblebrewerbeer.com.</p>

                        </div>
                  </div>
            </div>
            <br>
            <br>
            <br>
            <h2>OUR ADVISORS</h2>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>John Gillooly</h3>
                        <div class="body-copy">
                              <p>John Gillooly is a craft beer industry veteran of 20 years; He’s held leadership positions at Dogfish Head, Mammoth Brewing, Speakeasy, and currently is the Brewmaster at Drake’s Brewing in San Leandro.  Relentlessly experimental, but focused on quality and consistency.  Loves adjuncts.</p>
                        </div>
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>Victoria Gutierrez</h3>
                        <div class="body-copy">
                               <p>Victoria Gutierrez’s first love is wine but she’s falling hard for beer. A certified Sommelier and boutique beverage consultant in the San Francisco Bay Area, Victoria has helped small brands grow. Her career has involved everything from running a winery and producing award winning wines to overseeing brand development and strategy at a design firm. When she’s not brewing beer at home, she oversees the company’s long term planning and acts as an advisor to the board of directors.</p>
                               <p>Victoria is a consultant in the Atlanta Office of the Boston Consulting Group, and holds a B.S. with honors in Dance and Philosophy from Northwestern University and an MBA from the Massachusetts Institute of Technology. She’d love to chat with you at Victoria@NobleBrewerBeer.com.</p>
                        </div>
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>Steve Hoffman</h3>
                        <div class="body-copy">
                              <p>Steve Hoffman (a.k.a. Captain Hoff) is a serial entrepreneur. He is Captain of Founders Space, one of INC Magazine’s top 10 incubators, an angel investor and the Managing Director of FOUNDERS.VC, the early-stage venture fund for Founders Space.</p>
                              <p>He’s advised dozens of early stage start-ups and can often be found enjoying Lagunitas’ IPA.</p> 
                        </div>
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-3">
                        <img src="http://www.fillmurray.com/200/200">
                  </div>
                  <div class="col-md-9">
                        <h3>Mark Weiss</h3>
                        <div class="body-copy">
                              <p>Mark Weiss brewed his first beer, Elyse Amber, before his first daughter was born and has been a long time fan of craft beer. He has a penchant for start-ups and has spent the past 15 years helping them create strategic partnerships. His career has spanned several well known Internet companies starting with HotJobs.com in 1999 which went public and was acquired by Yahoo. He joined Trulia as Director of Business Development as an early employee which went public and was acquired by Zillow.</p>
                              <p>Recently, Mark joined Locu as Head of Business Development, which was acquired by GoDaddy and is currently on GoDaddy’s corporate development team . Mark holds a BS from Boston University, an MBA from University of San Francisco, and completed an executive program in negotiations at Berkeley’s Haas School of Business.</p>
                        </div>
                  </div>
            </div>
      </div>
</section>

{% endblock %}