<div class="row" style="border-bottom:1px solid #C5A77E;padding-bottom:0px">
	 <p class="lead col-md-10 col-md-offset-1 hidden-sm hidden-xs" align="center"> <span style="color:red">BETA</span> - Welcome to the new Noble Brewer website! You're one of the first to try out the new site. If you have any issues or comments, please shoot us a line at <span><a href="mailto:support@noblebrewerbeer.com">support@noblebrewerbeer.com</a></span></p>
	 <p class="col-md-10 col-md-offset-1 hidden-md hidden-lg" align="center"> <span style="color:red">BETA</span> - This site is brand new! Notice any issues? Please <span><a href="mailto:support@noblebrewerbeer.com">email us.</a></span></p>
</div>
