<div class="row" style="border-bottom:1px solid #C5A77E">
	 <p class="lead col-md-10 col-md-offset-1" align="center"> <span style="color:red">BETA</span> - Welcome to the new Noble Brewer website! You're one of the first to try out the new site. If you have any issues or comments, please shoot us a line at <span><a href="mailto:support@noblebrewerbeer.com">support@noblebrewerbeer.com</a></span>
</div>