<section class="patterned row thin-section">
	<div class="category centered-block">
		<a href="/market/homebrewing">Homebrewing</a>
	</div>
	<div class="category centered-block">
		<a href="/market/samplers">Samplers</a>
	</div>
	<div class="category centered-block">
		<a href="/market/fun">Fun Gifts</a>
	</div>
	<div class="category centered-block">
		<a href="/market/giftbeer">Gift Beer</a>
	</div>
	<div class="category centered-block">
		<a href="/market/resources">Resources</a>
	</div>
	<div class="category centered-block">
		<a href="/market/craftbeer">Craft Beer</a>
	</div>
	<div class="category centered-block">
		<a href="/market/other">Other</a>
	</div>
</section>