<!-- views/partials/emailFooter.ejs -->
<section class="row light-striped">
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<h2>Stay in touch</h2>
		<h4>Enter your email to get all the best updates</h4>
		<form action="/success/emailsignup" class="form-inline top-buffer" id="email-signup">
			<div class="form-group">
				<input type="email" size="35" class="form-control" id="email" placeholder="EMAIL ADDRESS">
			</div>
			<button type="submit" id="signup-newsletter" class="btn btn-nb auto-height">SIGN UP</button>
		</form>
	</div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/javascripts/sendToMailchimp.js"></script>
