<!-- views/partials/emailFooter.ejs -->
<section class="stripe-background">
	<div class="row" >
	  <div class="col-sm-8 col-sm-offset-2 text-center">
	    <h1>STAY IN TOUCH</h1>
	    <h4>ENTER YOUR EMAIL TO GET ALL THE BEST UPDATES</h4>
	    <br>
	    <form class="form-inline">
	      <div class="form-group">
	        <input type="text" size="35" class="form-control" id="email" placeholder="EMAIL ADDRESS">
	      </div>
	      <button type="button" class="btn btn-default">SUBMIT</button>
	    </form>
	  </div>
	</div>
</section>