<!-- views/partials/footer.ejs -->

<div id="footer">
	<div class="footer-pattern">
	  <div align="center">
	  	<a href="#"><img class="no-border" src="/images/generic/footerbadge.png"></a>
	  </div>
	</div>
	    <div class="row">
		    <div class="col-md-8">
				<ul>
					<% footerLinks.forEach(function(link, index){ %>
						<li>
							<a class="header" href="<%= link.href %>"><%= link.label %></a>
						</li>
					<% }) %>
				</ul>
		    </div>
	    	<div class="col-md-3 col-md-offset-1">
	    		<div class="small-social-media">
		    		<a href="https://www.facebook.com/noblebrewer" target="_blank"><img class="no-border" src="/images/generic/facebook.png"></a>
            		<a href="https://instagram.com/NobleBrewer" target="_blank"><img class="no-border" src="/images/generic/instagram.png"></a>
            		<a href="http://twitter.com/NobleBrewerBeer" target="_blank"><img class="no-border" src="/images/generic/twitter.png"></a>
	    		</div>
	    	</div>
   	 	</div>

		<script src="/js/jquery/jquery-1.11.2.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.4.min.js"></script>

		<% if (user) { %>
			<% if (user.canAccessKeystone) { %>
				<script src="/keystone/js/content/editor.js"></script>
			<% } %>
		<% } %>
</div>
