<div class="footer-pattern">
	<div align="center">
	  	<a href="#"><img class="no-border" src="/images/generic/footerbadge.png"></a>
	</div>
</div>

<script src="/js/jquery/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap/bootstrap-3.3.4.min.js"></script>