
.first-user-exp-overlay {
  color: #000;
  font-size: 14px;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.89);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none; }
.first-user-exp-overlay a,
.first-user-exp-overlay u {
  text-decoration: underline; }
.first-user-exp-logo {
  width: 175px;
  height: 64px;
  margin: 69px 10px 0 96px !important; }
.first-user-exp-welcome-text {
  color: #222;
  position: absolute;
  left: 96px;
  top: 169px;
  font-size: 15px;
  width: 500px;
  -webkit-font-smoothing: subpixel-antialiased; }
  .first-user-exp-welcome-text p, .first-user-exp-welcome-text li {
    font-size: 15px;
    line-height: 1.6;
    display: block;
    margin: 1em 0; }
  .first-user-exp-welcome-text ul {
    padding-left: 40px !important;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc; }
  .first-user-exp-welcome-text li {
    display: list-item;
    margin: 0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc; }
.first-user-exp-welcome-text .warning {
  color: #000;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  margin: 54px 0; }
#firstUserExpCloseIcon {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  top: 40px;
  right: 39px;
  cursor: pointer; }
#firstUserExpCloseIcon:hover {
  color: #0083e8; }
