
.job-list-window-overlay {
  color: #000;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.8);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none; }
.job-list-window-overlay a,
.job-list-window-overlay u {
  text-decoration: underline; }
.job-list-window-wrapper {
  width: 100%;
  height: 100%; }
.job-list-body {
  color: #222;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 500px;
  height: 500px;
  -webkit-font-smoothing: subpixel-antialiased; }
  .job-list-body .job-list-intro-text {
    color: black; }
  .job-list-body p {
    font-size: 20px; }
  .job-list-body p, .job-list-body li {
    line-height: 1.6;
    display: block;
    margin: 1em 0; }
  .job-list-body ul {
    padding-left: 40px !important;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc; }
  .job-list-body li {
    display: list-item;
    margin: 0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    font-size: 18px;
    font-style: italic; }
#jobListingCloseIcon {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  top: 40px;
  right: 39px;
  cursor: pointer; }
#jobListingCloseIcon:hover {
  color: #0083e8; }
