

$primary-tan: #C5A77E;
$hover-tan : #D4C0AA;
$visited-tan : #8A7762;
$link-hover : #FFFFFF;

$header-white : #FFFFFF;
$subheader-gray : #666666;

$alt-base-background : #232121;
$light-base-background: #333333;
$diamond-background : '/images/generic/diagmonds.png';
$diamond-divider: '/images/generic/diamond-divide.png';
$bar-diamond-divider: '/images/generic/bar-diamond-divide.png';
$footer-divider: '/images/generic/footerbg.png';
$divider-color: #777777;
$inactive-button-color: #C1C0C0;
$inactive-button-font-color: #302d2d;

@mixin border-radius {
  -webkit-background-size: cover;
     -moz-background-size: cover;
      -ms-background-size: cover;
          background-size: cover;
}

a {
	color: $primary-tan;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		color: $link-hover;
	}

}

blockquote {
	border: 0px;

	> p {
		font-size: 45px;
		font-style: italic;
		color: #666666;

		> .quote {
			color: #FFFFFF;
		}
	}

	> footer {
		text-align: center;
		font-size: 22px;
		font-style: none;
		line-height: 1.2em;
		color: #FFFFFF;
	}
}

section {
	padding: 60px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 3.998 em;
	line-height: 1.2 em;
	font-weight: normal;
	text-transform: uppercase
}

h2 {
	margin-top: 0px;
	font-size: 2.827em;
	line-height: 1.2em;
	font-weight: normal;
}

h3 {
	margin-top: 0px;
	font-size: 1.999em;
	line-height: 1.45em;
	font-weight: normal;
}

h4 {
	margin-top: 0px;
	font-size: 1.414em;
	line-height: 1.45em;
	font-weight: normal;
}

label {
	font-weight: normal;
}

small {
	text-transform: uppercase;
	font-size: .707em;
	line-height: 1.5em;
}



.lead-body-copy {
	font-size: 1.618em;
	line-height: 1.5em;
	color: $subheader-gray;
}

.body-copy {
	font-size: 22px;
	line-height: 1.45em;
	color: #DDD;
}

.alt-base-section {
	background-color: $alt-base-background;
}

.section-divider {
	width: 100%;
	margin: 0px;
}

.diamond-section-divider {
	background: url($bar-diamond-divider) no-repeat center;
	width: 100%;
	margin: 0px;
}

.diamond-base-section {
	background-image: url($diamond-background);
}

.tan-border {
	padding: 1px;
  border: 1px solid $primary-tan;
}

.btn-primary {
	background-color: $primary-tan;
	border-radius: 0%;
	border: none;
	text-transform: uppercase;
	min-width: 200px;
	margin-bottom: 1em;

	&:hover {
		background-color: $hover-tan;
	}

	&:focus {
		background-color: $primary-tan;
	}

	&:visited {
		background-color: $primary-tan;
	}
}

.tan-header {
	color: $primary-tan;
}

.centered-block {
	margin: auto;
	margin-right: auto;
	text-align: center; 
	display: block;
}

.circle-img {
	width: 150px;
	height: 150px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.faq-block {
	background-color: $light-base-background;
	padding: 2em 3em 2em 3em;
	margin-bottom: 3em;

	dt {
		font-size: 2em;
		line-height: 1.2em;
		color: $header-white;
	}

	dd {
		margin-top: 1em;
		font-size: 1em;
		line-height: 1.5em;
		color: $subheader-gray;
	}
}

.diamond-separator {
	background: url($diamond-divider);
	background-repeat: no-repeat;
	background-position: center; 
  margin: auto;
  height: 15px;
  width: 100%;
  padding: 60px;
}

.footer-pattern {
	background: url($footer-divider);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 36px;
}

.social-media {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;

  img {
  	width: 50%;
  	height: 50%;
  }
}

.order-selection {
	background-color: $light-base-background;
	padding: 2em 3em 2em 3em;
	margin-bottom: 2em;
	text-align: center; 
	display: block;

	button {
		min-width: 200px;
		margin: 10px;
		text-transform: none;
	}
}

#frequency-choices {
	button {
		min-width: 215px;
		margin: 30px;
		height: 60px;
		border-radius: 4px;
	}
}

.inactive-selection {
	color: $inactive-button-font-color;
	background-color: $inactive-button-color;
}

.box-selection {
	background-color: $alt-base-background;
	border: 1px solid #999999;
	padding: 4px;
	min-width: 260px;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	text-align: center; 
	display: block;

	button {
		width: 90%;
		height: 70px;
		border-radius: 4px;

	}
}

#cost-breakdown {

	p {
		margin: 0px;
	}

}

#about-banner {
	background:url('/images/about/aboutbanner.jpg') no-repeat center center fixed;
	@include border-radius;
}

#vat-banner {
	background:url('/images/about/brewingvats.jpg') no-repeat center center fixed;
	height: 315px;
	@include border-radius;
}
.html5-progressbar{
  padding:15px;
  background-color: #222120;
  border-radius:5px 20px 5px 20px;
}
progress{
  width:300px;
  height:16px;
  border:0;
  border-radius:9px;
  background-color:#f3f3f3;

}
progress::-webkit-progress-bar{
  background-color:#f3f3f3;
  border-radius:9px;
}
progress::-webkit-progress-value{
  background:$primary-tan;
  border-radius:9px;
}
progress::-moz-progress-bar{
  background-color:#f3f3f3;
  border-radius:9px;
}
progress::-moz-progress-value{
  background:$primary-tan;
  border-radius:9px;
}
.progress_value{
  color:#fff;
}


/*change breadcrumb separator to raquo symbol*/
.breadcrumb > li + li:before {
     content: "\00BB";
     color: #aaa;
}