$primary-tan: #C5A77E;
$hover-tan : #D4C0AA;
$visited-tan : #8A7762;
$link-hover : #FFFFFF;

$header-white : #FFFFFF;
$subheader-gray : #666666;

$alt-base-background : #232121;
$diamond-background : '/images/generic/diagmonds.png';
$diamond-divider: '/images/generic/diamond-divide.png';
$divider-color: #777777;

@mixin border-radius {
  -webkit-background-size: cover;
     -moz-background-size: cover;
      -ms-background-size: cover;
          background-size: cover;
}

a {
	color: $primary-tan;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		color: $link-hover;
	}
}

blockquote {
	border: 0px;

	> p {
		font-size: 45px;
		font-style: italic;
		color: #666666;

		> .quote {
			color: #FFFFFF;
		}
	}

	> footer {
		text-align: center;
		font-size: 22px;
		font-style: none;
		line-height: 1.2em;
		color: #FFFFFF;
	}
}

section {
	border-bottom: $divider-color solid 1px;
	padding: 60px;
}

h1 {
	margin-bottom: 10px;
	font-size: 63px;
	line-height: 1.2 em;
	text-transform: uppercase
}

h2 {
	font-size: 2.827em;
	line-height: 1.2em;
}

h3 {
	font-size: 32px;
	line-height: 1.45em;
}

h4 {
	font-size: 22px;
	line-height: 1.45em;
}

small {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.5em;
}

.lead-body-copy {
	font-size: 26px;
	line-height: 1.5em;
	color: $subheader-gray;
}

.body-copy {
	font-size: 16px;
	line-height: 1.5em;
	color: $subheader-gray;
}

.alt-base-section {
	background-color: $alt-base-background;
}

.diamond-base-section {
	background-image: url($diamond-background);
}

.tan-border {
	padding: 1px;
  border: 1px solid $primary-tan;
}

.btn-primary {
	background-color: $primary-tan;
	border-radius: 0%;
	border: none;
	text-transform: uppercase;

	&:hover {
		background-color: $hover-tan;
	}

	&:visited {
		background-color: $visited-tan;
	}
}

.tan-header {
	color: $primary-tan;
}

.banner-text {
	font-size: 6.0vh;
	line-height: 1.2em;
}

.centered-block {
	margin: auto;
	margin-right: auto;
	text-align: center; 
	display: block;
}

.circle-img {
	width: 150px;
	height: 150px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.faq-block {
	background-color: $alt-base-background;
	padding: 2em 3em 2em 3em;
	margin-bottom: 3em;

	dt {
		font-size: 2em;
		line-height: 1.2em;
		color: $header-white;
	}

	dd {
		margin-top: 1em;
		font-size: 1em;
		line-height: 1.5em;
		color: $subheader-gray;
	}
}

.diamond-separator {
	background: url($diamond-divider);
	background-repeat: no-repeat;
	background-position: center; 
  margin: auto;
  height: 15px;
  width: 100%;
  padding: 60px;
}

#about-banner {
	background:url('/images/about/aboutbanner.jpg') no-repeat center center fixed;
	@include border-radius;
}

#vat-banner {
	background:url('/images/about/brewingvats.jpg') no-repeat center center fixed;
	height: 315px;
	@include border-radius;
}


