$primary-tan: #C5A77E;
$hover-tan : #D4C0AA;
$visited-tan : #8A7762;
$link-hover : #FFFFFF;
$alt-base-background : #333333;

a {
	color: $primary-tan;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		color: $link-hover;
	}
}

.tan-border {
	padding: 1px;
  border: 1px solid $primary-tan;
}

.btn-primary {
	background-color: $primary-tan;
	border-radius: 0%;
	border: none;
	text-transform: uppercase;

	&:hover {
		background-color: $hover-tan;
	}

	&:visited {
		background-color: $visited-tan;
	}
}

blockquote > p {
	font-style: italic;
}

.alt-base-section {
	background-color: $alt-base-background;
}

.tan-header {
	color: $primary-tan;
}

.centered-block {
	margin-left: auto;
	margin-right: auto; 
	text-align: center; 
	display: block;
}

.circle-img {
	width: 150px;
	height: 150px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
