.featured-in {
	padding: 20px 0;
    text-align: center;
}

.featured-in > img {
	width: 17%;
    display: inline-block;
    margin: 0 1%;
}

#our-process-section > h2 {
	text-align: center;
}

#our-process-section > div > img {
	margin-bottom: 30px;
}

#our-process-section > .row {
	margin-bottom: 30px;
	text-align: center;
}

.homepage & h4 {
	text-transform: none;
    font-weight: 400;
}

.homepage-header {
	background-image: url("/images/beer/springbeers.jpg");
	position: relative;
	background-position: bottom left;
	display: table;
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 70px;
}

.homepage-header > div {
	width: 33%;
    position: relative;
    float: right;
    text-align: center;
}

.homepage-header & h2 {
	color: black;
	margin-bottom: 50px;
}

.patterned.divider {
	padding: 10px 0;
}

#homebrewer-awards {
	display: inline-block;
    text-align: center;
    width: 80%;
    margin: 0 10%;
}

.photo-comment-container {
	width: 22%;
	margin: 0 1%;
    padding: 10px;
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(197, 167, 126, 0.81);
    display: inline-table;
}

.comment-container {
	min-height: 120px;
	font-size: .9em;
	margin-top: 10px;
}

.photo-comment-container & .col-md-3 {
	padding: 0;
}

.photo-comment-container & p.lead {
	font-size: 1.1em;
}

.member-comments {
	margin-top: 20px;
}

#guarantee-section {
	background-image: url("/images/about/tshirt-brick.jpg");
	position: relative;
	background-position: center center;
	display: table;
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 70px;
}

.row.unsure {
	margin-bottom: 40px;
}