#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: $gray-light;

	ul {
		list-style-type: none;
		display: table;
		width: 100%;

		li {
			display: table-cell;
			padding: 5px;
			text-align: center;
		}
	}
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}