#header {
	margin-top: 30px;
}

#email-signup {
	input {
		border-radius: 0px;
		margin-right: 0px;
	}

	button {
		border-radius: 0px;
		margin-left: 0px;
		color: #FFF;
		text-transform: uppercase;
		background-color: $primary-tan;
		border: none;
		padding: 7px 12px;
	}

}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: $gray-light;

	ul {
		list-style-type: none;
		display: table;
		width: 100%;

		li {
			display: table-cell;
			padding: 5px;
			text-align: center;
		}
	}
}

.small-social-media {
	margin-top: 10px;
	width: 150px;
	margin: auto;
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;

  img {
  	width: 45%;
  	height: 45%;
  }
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}