 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 85em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

#header {
	width:100%;
  height: 120px;
	margin-top: 30px;
  padding-top: 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid $medium-tan;
}

.navbar-brand {
	padding-left: 35px;
	padding-right: 35px;

	img {
		/*width: 100%;*/
		position: relative;
		bottom: -5px;
	}

	&:hover {
		background-color: #232121;
	}
}

.navbar-nav > li, navbar-default {
	
	a {
		color: $medium-tan;
		border-bottom: 2px solid transparent;

		&:hover {
			color: #FFF;
			border-bottom : 2px solid #FFF;
    }
	}

	@include breakpoint(laptop){
		margin-left: 10px;
	}
}

@media only screen
and (max-width: 882px) {
    #header .navbar-collapse.in {
      background-color: #232121;
      display: block;
      position: absolute;
      z-index: 20;
      width: 83%;
    }
    #header .main-navbar {
      background-image: none;
      background-color: #232121;
    }
    #header .navbar-collapse {
      border-top: none;
      box-shadow: none;
    }
    #header .nav-link {
      padding-left: 5.5;
      padding-right: 5.5;
    }
}


#email-signup {
	input {
		border-radius: 0px;
		margin-right: 0px;
	}

	button {
		border-radius: 0px;
		margin-left: -5px;
		color: #232121;
		text-transform: uppercase;
		font-weight: 500;
		background-color: $medium-tan;
		border: none;
		padding: 7px 12px;
		width: 130px;
	}

}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 90px;
	color: $gray-light;

	ul {
		list-style-type: none;
		display: flex;
		width: 100%;

		li {
			display: table-cell;
			flex-grow: 1;
			padding: 5px;
			text-align: center;
		}
	}
}

@media(max-width:767px){
	#footer ul {
		padding: 0;
		display: inline;
	}

	#footer ul li {
		display: inline-block;
		width: 100%;
	}
}

.main-navbar {
	background-color: #232121;
	border: none;
	background-image: url('/images/generic/header-stripe.png');
	color: $medium-tan;

	a {
		color: $medium-tan;

		&:hover {
			color: #FFF;
		}
	}
}

.navbar-right {
	background-image: none;
}

.stripe-background {
	background-image: url('/images/generic/10pxstripe.png');
}

.small-social-media {
	margin-top: 10px;
	width: 150px;
	margin: auto;
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;

  img {
  	width: 45%;
  }
}

@media(max-width:767px){
	.small-social-media {
		margin-top: 20px;
	}
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}
