// Override Bootstrap variables in this file, e.g.

$primary-tan: #C5A77E;
$lighter-tan : #D4C0AA;

$font-size-base: 16px;
$body-bg: #222120;

$text-color: #FFFFFF;
$link-color: #C5A77E;
$link-hover-color: $lighter-tan;

$border-radius-base: 4px;

$navbar-default-link-color:  #C5A77E;
$navbar-default-link-hover-color: #FFF;
