// Override Bootstrap variables in this file, e.g.

$primary-tan: #C5A77E;
$lighter-tan : #D4C0AA;

$font-size-base: 16px;
$body-bg: #222120;

$text-color: #FFFFFF;
$link-color: $primary-tan;
$link-hover-color: $lighter-tan;