#vip {
	background-image: url('/images/beer/beer-glasses-cheers.jpg');
	background-size: cover;
	background-position: left center;
}

#mc-embedded-subscribe-form.homepage {
	padding: 0;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 3%;
}

.mc-field-group {
	margin: 5px 0;
}

.mc-field-group input {
	padding: 8px 0;
	border-radius: 4px;
	color: black;
	text-indent: 2%;
}

.mc-field-group label {
	margin-top: 15px;
}

.indicates-required {
	float: right;
}

#mce-FNAME, #mce-LNAME, #mce-REFERRAL, #mce-EMAIL {
	width: 100%;
}

#mce-REFERRAL {
	background-color: grey;
}

.left-input {
	padding-left: 0;
}

.right-input {
	padding-right: 0;
}

#mc-embedded-subscribe {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
}

#mc-embedded-subscribe.homepage {
	position: relative;
	top: -55px;
}

@media(max-width:767px){
	#mc-embedded-subscribe.homepage {
		top: 0;
	}
}

@media(max-width:767px){
	.left-input {
		padding-right: 0;
	}

	.right-input {
		padding-left: 0;
	}

	#mc-embedded-subscribe {
		margin-top: 10px;
	}
}

#mce-STATE {
    color: black;
    background-color: white;
    border: 1.8px solid #DAD8D6;
    max-width: 100%;
    min-width: 25%;
    height: 30px;
}

@media (max-width:767px){
	#mce-STATE {
		min-width: 50%;
	}
}

#share-email {
	margin-top: 30px;
}

#share-email button {
	float: right;
	margin-right: 0;
	width: 100%;
}

#share-email input {
	width: 100%;
	margin-top:10px;
	color: black;
}

#share-email textarea {
	width: 100%;
	margin-top:10px;
	color: black;
}

#email-message {
	height: 100px;
}

@media(max-width:767px){
	#member-email {
		font-size: 1.2em;
		overflow-wrap: normal;
	}

	#member-status-page {
		font-size: .9em;
	}
}

#member-email-notfound {
	width: 100%;
}

.sharing-buttons {
	max-width: 50px;
}

.notification-text {
	font-size: .7em;
    color: teal;
}

input#link-text {
	opacity: 0;
}

.homepage-wl-signup {
	padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
}

.pints-earned {
	width: 8.5%;
	padding-top: 10px;
}

.referral_status_table td {
	padding: 5px;
	border: 1px solid #C5A77E;
}

.pints-info {
	width: 4%;
	margin: 5px 0;
}

section.bottle {
    background-image: url("/images/beer/papadoc.jpg");
	background-position: bottom left;
	display: table;
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 70px;}

@media(max-width:767px){
  	section.bottle {
    background-image: none;
    background-color: black;
    }
  }

@media(max-width:992px){
  	section.bottle {
    background-image: none;
    background-color: black;
    }
}

.waitlist-form {
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 6px;
  margin-right: 10px;
}